 @using com.Bynonco.JqueryEasyUI.Core;
 <script type="text/javascript">
     function generateQueryExpress() {
         var queryExpression = "";
         var userName = $("#txtSearchUserName").val();
         if (userName.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "UserName∽\"" + userName.trim() + "\"";
         }
         var academicName = $("#txtSearchAcademicName").val();
         if (academicName.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "AcademicName∽\"" + academicName.trim() + "\"";
         }
         var position = $("#txtSearchPosition").val();
         if (position.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "Position∽\"" + position.trim() + "\"";
         }
         var magazineName = $("#txtSearchMagazineName").val();
         if (magazineName.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "MagazineName∽\"" + magazineName.trim() + "\"";
         }
         return queryExpression;
     }

     function doReset() {
         $("#txtSearchUserName").val("");
         $("#txtSearchAcademicName").val("");
         $("#txtSearchPosition").val("");
         $("#txtSearchMagazineName").val("");
         
     }
</script>
<ul class="search">
    <li>
        <label>任职人员</label>
        @Html.JValidateBox("txtSearchUserName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label>学术组织</label>
        @Html.JValidateBox("txtSearchAcademicName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label>任职职位</label>
        @Html.JValidateBox("txtSearchPosition").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label>杂志名称</label>
        @Html.JValidateBox("txtSearchMagazineName").SetWidth(150).ToMvcString()
    </li>
    <li class="button">
        @Html.JLinkButton("btnSearch", "查询").SetOnclick("doSearch();doCloseSearch();").ToMvcString()
        @Html.JLinkButton("btnReset", "清空").SetOnclick("doReset();").ToMvcString()
        @Html.JLinkButton("btnClose", "关闭").SetOnclick("doCloseSearch();").ToMvcString()
        <div class="clear-both"></div>
    </li>
    <div class="clear-both"></div>
</ul>
<div class="clear-both"></div>


