 @using com.Bynonco.JqueryEasyUI.Core;
 <script type="text/javascript">
     function generateQueryExpress() {
         var queryExpression = "";
         var tutorName = $("#txtSearchTutorName").val();
         if (tutorName.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "TutorName∽\"" + tutorName.trim() + "\"";
         }
         var degreeName = $("#txtSearchDegreeName").val();
         if (degreeName.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "DegreeName∽\"" + degreeName.trim() + "\"";
         }
         var studentName = $("#txtSearchStudentName").val();
         if (studentName.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "StudentName∽\"" + studentName.trim() + "\"";
         }
         var studentNumber = $("#txtSearchStudentNumber").val();
         if (studentNumber.trim() != "") {
             queryExpression += (queryExpression == "" ? "" : "*") + "StudentNumber∽\"" + studentNumber.trim() + "\"";
         }
         return queryExpression;
     }

     function doReset() {
         $("#txtSearchTutorName").val("");
         $("#txtSearchStudentName").val("");
         $("#txtSearchDegreeName").val("");
         $("#txtSearchStudentNumber").val("");
     }
</script>
<ul class="search">
    <li>
        <label>导师</label>
        @Html.JValidateBox("txtSearchTutorName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label>学位</label>
        @Html.JValidateBox("txtSearchDegreeName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label>学生</label>
        @Html.JValidateBox("txtSearchStudentName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label>学号</label>
        @Html.JValidateBox("txtSearchStudentNumber").SetWidth(150).ToMvcString()
    </li>
    
    <li class="button">
        @Html.JLinkButton("btnSearch", "查询").SetOnclick("doSearch();doCloseSearch();").ToMvcString()
        @Html.JLinkButton("btnReset", "清空").SetOnclick("doReset();").ToMvcString()
        @Html.JLinkButton("btnClose", "关闭").SetOnclick("doCloseSearch();").ToMvcString()
        <div class="clear-both"></div>
    </li>
    <div class="clear-both"></div>
</ul>
<div class="clear-both"></div>


