@model com.Bynonco.LIMS.Model.SampleChargeItem
@using com.Bynonco.JqueryEasyUI.Core;
<div id="divSampleChargeItemEdit"> 
<form id="frmSampleChargeItem" action="#">
    @Html.Hidden("Id", Model == null ? "" : Model.Id.ToString())
    <table id="tbSampleItemChargeEdit" class="edit-table">
        <tr>
            <th>名称</th>
            <td>
                @(Html.JValidateBox("Name").SetValue(Model == null ? "" : Model.Name.ToString()).SetWidth(250).SetInvalidMessage("请输入样品收费项目名称")
                .SetValidateType(ValidateType.required).ToMvcString())
                <span class="required">必填</span>
            </td>
        </tr>
         <tr>
            <th>价格</th>
            <td>
                @(Html.JValidateBox("UnitPrice")
                .SetValidateType(ValidateType.number).SetValue(Model == null ? "" : Model.UnitPrice.ToString()).SetWidth(250).SetInvalidMessage("请输入样品收费项目价格").ToMvcString())
                <span class="required">必填</span>
            </td>
        </tr>
        <tr>
            <th>排序号</th>
            <td>
                @(Html.JValidateBox("OrderNo")
                .SetValue(Model == null ? "" : Model.OrderNo.ToString())
                .SetValidateType(ValidateType.intNumber).SetWidth(250).ToMvcString())
            </td>
        </tr>
        <tr>
            <th>助记符</th>
            <td>
                @(Html.JValidateBox("InputStr")
                .SetValue(Model == null ? "" : Model.InputStr.ToString())
                .SetWidth(250)
                .SetValidateType(ValidateType.none).ToMvcString())
            </td>
        </tr>
        <tr style="display:none">
            <th>是否默认</th>
            <td>
                @(Html.JComboBox("IsDefault").SetData(ViewData["IsDefaultJson"]).SetWidth(255).ToMvcString())
                <span class="required">必填</span>
            </td>
        </tr>
        <tr>
            <th>是否停用</th>
            <td>
                @(Html.JComboBox("IsStop").SetData(ViewData["IsStopJson"]).SetWidth(255).ToMvcString())
                <span class="required">必填</span>
            </td>
        </tr>
         <tr>
            <th>说明</th>
            <td>
                @Html.TextArea("Directions", Model == null ? "" : Model.Remark, 3, 50, null)
            </td>
        </tr>
        <tr>
            <th>备注</th>
            <td>
                @Html.TextArea("Remark", Model == null ? "" : Model.Remark, 3, 50, null)
            </td>
        </tr>
    </table>
  </form>
</div>
    

