@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
    var sampleChargeItemPrivilige = com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetSampleChargeItemPrivilige(User.Identity.Name);
}
<div class="search-grid hide">
    <div class="search-inner-box">@Html.Partial("../SampleChargeItem/Search")</div>
</div>
<div id="divSampleChargeItemList" style="direction:none">@Html.Partial("../SampleChargeItem/List")</div>
<div id="divSampleChargeItemEditDialog" style="display:none;"></div>
<script type="text/javascript">
    var dialog;
    function doAddOrEdit(id) {
        if(dialog)dialog.dialog("destroy");
        var url = id!=""?'@Url.Action("Edit")': '@Url.Action("Add")'+ "?id=" + id + "&time=" + new Date().getMilliseconds();
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $("#divSampleChargeItemEditDialog").load(url, function (data) {
            $.messager.progress('close');
            dialog = @(Html.JDialog("divSampleChargeItemEdit").SetTitle("样品收费项目息").SetIconCls("icon-save").SetAutoDialog(false).SetModal(true).SetCancelScript("dialog.dialog('close');return false;").SetOkScript("doSave();").ToMvcString());
        });
    }
    function generateSelectedIds() {
        var ids = [];
        var rows = $("#tbSampleChargeItemList").datagrid("getSelections");
        if (rows && rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].Id);
            }
        }
        return ids.toString();
    }
    function doDelete(ids) {
        var delIds = ids == null || ids.trim() == "" ? generateSelectedIds() : ids;
        $.messager.confirm('提示', '确认删除?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: "ids=" + delIds + "&time=" + new Date().getMilliseconds(),
                success: function (msg) {
                    $.messager.progress('close');
                    doSearch();
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    }
                }
            });
        });
        return false;
    }
    function doSearch() {
        var queryExpression = generateQueryExpress();
        $("#tbSampleChargeItemList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbSampleChargeItemList").datagrid("load", { "queryExpression": queryExpression.trim(),"time":new Date().getMilliseconds() });
        return false;
     }
     function doSave() {
         $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
         $.ajax({
             type: "POST",
             url: '@Url.Action("Save")'+ "?time=" + new Date().getMilliseconds(),
             data: $("form").serialize(),
             success: function (msg) {
                 $.messager.progress('close');
                 if (msg.indexOf("出错") >= 0) {
                     $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                     return false;
                 }
                 doSearch();
                 dialog.dialog('close'); 
             }
         });
         return false;
     } 
     function doBatchStart(){
         var ids = generateSelectedIds();
        if(ids == ""){
            $.messager.show({ title: '提示', msg: "请选择要启用的项", showType: 'show' });
            return false;
        }
        $.messager.confirm('提示', '确认启用?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在加载数据,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("BatchStart")'+ "?time=" + new Date().getMilliseconds().toString(),
                data: "ids=" + ids,
                success: function (msg) {
                    $.messager.progress("close");
                    doSearch();
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                }
            });
        });
        return false;
    }
    function doBatchStop(){
        var ids = generateSelectedIds();
        if(ids == ""){
            $.messager.show({ title: '提示', msg: "请选择要停用的项", showType: 'show' });
            return false;
        }
        $.messager.confirm('提示', '确认停用?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在加载数据,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("BatchStop")'+ "?time=" + new Date().getMilliseconds().toString(),
                data: "ids=" + ids,
                success: function (msg) {
                    $.messager.progress("close");
                    doSearch();
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                }
            });
        });
        return false;
    }
</script>
