@using com.Bynonco.JqueryEasyUI.Core;
<script type="text/javascript">
    function generateTodayUsedConfirmQueryExpression() {
        var queryExpression = "";
        var userName = $("#SearchUserName").val().trim();
        if (userName != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "UserName∽\"" + userName + "\"";
        }

        var equipmentName = $("#SearchEquipmentName").val().trim();
        if (equipmentName != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "EquipmentName∽\"" + equipmentName.trim() + "\"";
        }

        var labRoomXPath = $("#SearchLabRoomXPath").val().trim();
        if (labRoomXPath != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "LabRoomXPath→\"" + labRoomXPath + "\"";
        }

        var tutorName = $("#SearchTutorName").val().trim();
        if (tutorName != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "TutorName∽\"" + tutorName + "\"";
        }

        return queryExpression;
    }

    function doTodayUsedConfirmReset() {
        $("#SearchEquipmentName").val("");
        $("#SearchUserName").val("");
        $("#SearchTutorName").val("");
        $("#SearchLabRoomXPath").val("");
        $("#SearchLabRoomId").val('@Guid.Empty.ToString()');
        return false;
    }

    function getTodayUsedConfirmSearchLabRoomXPath(element) {
        $("#SearchLabRoomXPath").val("");
        var labRoomId = element.value;
        if (labRoomId != "" && !labRoomId.isDefaultGuid()) {
            var urlGetLabOrganizationById = '@Url.Action("GetLabOrganizationById","LabOrganization")';
            $.post(urlGetLabOrganizationById, { id: labRoomId }, function (data) {
                if (data && data != "")
                    $("#SearchLabRoomXPath").val(data.XPath);
            }, 'json');
        }
    }
</script>
<ul class="search">
    <li>
        <label style="width:60px">使用者</label>
        @Html.JValidateBox("SearchUserName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label style="width:60px">设备名称</label>
        @Html.JValidateBox("SearchEquipmentName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label style="width:60px">放置地点</label>
        @Html.DropDownList("SearchLabRoomId", (IEnumerable<SelectListItem>)ViewData["SearchLabRoomSelectListItem"], new { style = "width:155px;", onchange = "getTodayUsedConfirmSearchLabRoomXPath(this);" })
        @Html.Hidden("SearchLabRoomXPath")
    </li>
    <li>
        <label style="width:60px">课题负责人</label>
        @Html.JValidateBox("SearchTutorName").SetWidth(150).ToMvcString()
    </li>
    <li class="button">
        @Html.JLinkButton("btnTodayUsedConfirmSearch", "查询").SetOnclick("doTodayUsedConfirmSearch();doCloseSearch();").ToMvcString()
        @Html.JLinkButton("btnTodayUsedConfirmReset", "清空").SetOnclick("doTodayUsedConfirmReset();").ToMvcString()
        @Html.JLinkButton("btnTodayUsedConfirmClose", "关闭").SetOnclick("doCloseSearch();").ToMvcString()
        <div class="clear-both"></div>
    </li>
    <div class="clear-both"></div>
</ul>
<div class="clear-both"></div>