@using com.Bynonco.JqueryEasyUI.Core;
<script type="text/javascript">
    function generateQueryExpress() {
        var queryExpression = "";
        var cameraName = $("#SearchName").val().trim();
        if (cameraName != "") {
            queryExpression = "(Name∽\"" + cameraName.trim() + "\"+InputStr∽\"" + cameraName + "\")";
        }
        var cameraIP = $("#SearchIP").val().trim();
        if (cameraIP != "") {
            queryExpression += (queryExpression=="" ? "" : "*") + "IP=\"" + cameraIP.trim() + "\"";
        }
        return queryExpression;
    }
    function doReset() {
        $("#SearchName").val("");
        $("#SearchIP").val("");
        return false;
    }
</script>
<ul class="search">
    <li>
        <label>名称</label>
        @Html.JValidateBox("SearchName").SetWidth(150).SetHeight(18).ToMvcString()
    </li>
    <li>
        <label>IP</label>
        @Html.JValidateBox("SearchIP").SetWidth(150).SetHeight(18).ToMvcString()
    </li>
    <li class="button">
        @Html.JLinkButton("btnSearch", "查询").SetOnclick("doSearch();doCloseSearch();").ToMvcString()
        @Html.JLinkButton("btnReset", "清空").SetOnclick("doReset();").ToMvcString()
        @Html.JLinkButton("btnClose", "关闭").SetOnclick("doCloseSearch();").ToMvcString()
        <div class="clear-both"></div>
    </li>
    <div class="clear-both"></div>
</ul>
<div class="clear-both"></div>