@model List<com.Bynonco.LIMS.Model.EquipmentCategory>
@using com.Bynonco.LIMS.Utility;
@{
    bool isShowZero = ViewData["IsShowZero"] == null || ViewData["IsShowZero"].ToString().Trim() == "1" ? true : false;
    if (Model != null && Model.Count() > 0)
    {
        var parentId = Model[0].ParentId;
        var topEquipmentCategory = Model.Where(p => p.ParentId == parentId);
        if(topEquipmentCategory != null && topEquipmentCategory.Count() > 0)
        {
            foreach(var item in topEquipmentCategory)
            {
                if (!isShowZero && item.EquipmentCount == 0) { continue; }
                int maxLength = 22;
                if (item.EquipmentCount > 0){ maxLength -= 3 + item.EquipmentCount.ToString().Length;}
                var cutName = ShortcutStringUtility.GetSubString(item.Name, maxLength, "..");
                <p class="parent-item-l" style='@(item.EquipmentCount == 0 ? "" : "cursor:pointer;")' onclick='@(item.EquipmentCount == 0 ? "javascript:;" : "doLoadCategoryEquipment(this);")'>
                    <a style='float:left;' href="#" xpath='@item.XPath' title='@item.Name' equipmentcategoryid='@item.Id'><strong>@(cutName + (item.EquipmentCount > 0 ? " (" + item.EquipmentCount + ")" : ""))</strong></a>
                    <img style='float:right; line-height:24px;vertical-align:middle;margin-top:5px;' class="hide" src="/JqueryPlugin/JqueryEasyUI/themes/gray/images/tree_loading.gif" id="imgLoading">
                </p>
            }
            <div class="clear-both"></div>
        }
    }
    else
    {
        <p>没有设备分类信息</p>
    }
}