@using com.Bynonco.JqueryEasyUI.Core; 
<div id="divBuildingEquipmentAdd">
    <form id="frmBuildingEquipmentAdd" action="#">
        @Html.Hidden("BuildingId", ViewData["BuildingId"] == null ? "" : ViewData["BuildingId"].ToString())
        @Html.Hidden("PointX", ViewData["PointX"] == null ? "" : ViewData["PointX"].ToString())
        @Html.Hidden("PointY", ViewData["PointY"] == null ? "" : ViewData["PointY"].ToString())
        <table class="edit-table" style="width:300px;">
            <tr>
                <td colspan='4' style='text-align:center;'>@(ViewData["PointX"] == null ? "" : ViewData["PointX"].ToString()) | @(ViewData["PointY"] == null ? "" : ViewData["PointY"].ToString())</td>
            </tr>
            <tr>
                <th>设备</th>
                <td id='tdBuildingEquipmentId'>
                    @(Html.TokenInput("EquipmentId")
                        .SetUrl(Url.Action("GetEquipmentListByKeyWord", "Equipment"))
                        .SetSingle(true)
                        .SetWidth(400)
                        .ToMvcString())
                </td>
                <td style='width:70px;text-align:center;border:0;'>
                    @Html.JLinkButton("btnCleanEquipment", "清空").SetIconCls("icon-delete").SetPlain(true).SetOnclick("doCleanEquipment();return false;").ToMvcString()
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#tdBuildingEquipmentId ul.token-input-list-facebook").css("width", "150px");
    });
    function doCleanEquipment() {
        $("#EquipmentId").tokenInput("clear");
    }
</script>