@model com.Bynonco.LIMS.Model.View.ViewAchievementStudent
@using com.Bynonco.JqueryEasyUI.Core; 
@{
    var infoId = Model == null ? Guid.NewGuid() : Model.Id;
    var degree = Model == null ? "" : Model.DegreeId.ToString();
    var studyType = Model == null ? "" : Model.StudyTypeId.ToString();
}
<tr id='@("tr_" + infoId)'>
    
    <td>@Html.JValidateBox("StudentName_" + infoId).SetValue(Model == null ? "" : Model.StudentName).SetWidth(100).ToMvcString()</td>
    <td>@Html.JValidateBox("StudentNumber_" + infoId).SetValue(Model == null ? "" : Model.StudentNumber).SetWidth(100).ToMvcString()</td>    
    <td id="tdDegree">@(Html.JComboBox("Degree_" + infoId)
        .SetData(ViewData["DegreeJson"])
        .SetWidth(100)        
        .SetMutiSelect(false)
        .SetEditable(false)
.SetOnLoadSuccess("setTimeout('doOnDegreeLoadSuccess(\"" + infoId + "\",\"" + degree + "\");', 500);")
        .ToMvcString())
    </td>
    <td id="tdStudyType">@(Html.JComboBox("StudyType_" + infoId)
        .SetData(ViewData["StudyTypeJson"])
        .SetWidth(100)
        .SetMutiSelect(false)
        .SetEditable(false)
.SetOnLoadSuccess("setTimeout('doOnStudyTypeLoadSuccess(\"" + infoId + "\",\"" + studyType  + "\");', 500);")
        .ToMvcString())
    </td>
</tr>
<script type="text/javascript">
    function doOnDegreeLoadSuccess(id, degreeId) {
        $("#Degree_" + id).combobox("setValue", degreeId);
    }

    function doOnStudyTypeLoadSuccess(id, studyTypeId) {
        $("#StudyType_" + id).combobox("setValue", studyTypeId);
    }
</script>