@model com.Bynonco.LIMS.Model.View.ViewEquipment
@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
@Html.Hidden("EquipmentId", Model == null ? "" : Model.Id.ToString())
<div class="search-grid hide" style="width:280px">
    <div class="search-inner-box">
        @Html.Partial("../Equipment/RepairSearch")
    </div>
</div>
<div class="layout-center-full">
    <div>
        @Html.Partial("../Equipment/RepairList")
    </div>
</div>
<script type="text/javascript">
    function doEditEquipmentRepair() {
        var selectedRow = $("#tbEquipmentRepairList").datagrid("getSelected");
        if (!selectedRow) {
            $.messager.show({ title: '警告', msg: "请选择要编辑的项", showType: 'show' });
            return false;
        }
        if (selectedRow) doAddOrEditEquipmentRepair(selectedRow.Id);
        return false;
    }
    function doAddOrEditEquipmentRepair(id) {
        var equipmentId = $("#EquipmentId").val();
        var url = '@Url.Action("RepairIndex", "Equipment")' + "?id=" + id + "&EquipmentId=" + equipmentId + "&time=" + new Date().getMilliseconds();
        ajaxActionLink(url, "Loading", "layoutCenterBox", ajaxloadsuccess, dialogOpen);
        return false;
    }
    function doDeleteEquipmentRepair() {
        var selectedRows = $('#tbEquipmentRepairList').datagrid("getSelections");
        var ids = "";
        if (selectedRows && selectedRows.length > 0) {
            $.messager.confirm('提示', '确认删除?', function (r) {
                if (!r) return;
                for (var i = 0; i < selectedRows.length; i++) {
                    ids += ids == "" ? selectedRows[i].Id : "," + selectedRows[i].Id;
                }
                $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteRepair","Equipment")',
                    data: { "date": new Date().getMilliseconds(), "Ids": ids },
                    success: function (msg) {
                        $.messager.progress('close');
                        if (msg && msg.indexOf("出错") != -1) {
                            $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                            return false;
                        }
                        doEquipmentRepairSearch();
                    }
                });
            });
        }
    }
    function doEquipmentRepairSearch() {
        var queryExpression = generateQueryExpress();
        $("#tbEquipmentRepairList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbEquipmentRepairList").datagrid("load", { "queryExpression": queryExpression.trim() });
        return false;
    }
</script>