@model com.Bynonco.LIMS.Model.View.ViewEquipment
@using com.Bynonco.JqueryEasyUI.Core;
@{var equipmentPrivilige = Model == null ?
        com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetEquipmentPrivilige(User.Identity.Name) :
        com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetEquipmentPrivilige(User.Identity.Name,Model.Id);}
<div>@Html.Partial("SampleUnAppointmentPeriodTimeList")</div>    
<div id="divSampleUnAppointmentPeriodTimeDialog" style="display:none"></div>
<script type="text/javascript">
    function doEditSampleUnAppointmentPeriodTime(){
        var selectedRow = $("#tbSampleUnAppointmentPeriodTimeList").datagrid("getSelected");
        if(!selectedRow){
            $.messager.show({ title: '警告', msg: "请选择要编辑的项", showType: 'show' });
            return false;
        }
        if(selectedRow) doAddOrEditSampleUnAppointmentPeriodTime(selectedRow.Id);
    }
    function doAddOrEditSampleUnAppointmentPeriodTime(id) {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        var url = (id!=""?'@Url.Action("EditSampleUnAppointmentPeriodTime","Equipment")':'@Url.Action("AddSampleUnAppointmentPeriodTime","Equipment")') + "?id=" + id + "&date=" + new Date().getMilliseconds();
        $("#divSampleUnAppointmentPeriodTimeDialog").load(url, function (data) {
            doSampleUnAppointmentPeriodTimeDialog();
            $.messager.progress('close');
        })
        return false;
    }
    var sampleUnAppointmentPeriodTimeDialog;
    function doSampleUnAppointmentPeriodTimeDialog() {
        if (sampleUnAppointmentPeriodTimeDialog) {
            sampleUnAppointmentPeriodTimeDialog.dialog("destroy");
        }
        sampleUnAppointmentPeriodTimeDialog =  @Html.JDialog("divSampleUnAppointmentPeriodTimeEdit").SetTitle("送样不可预约时间段信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("sampleUnAppointmentPeriodTimeDialog.dialog('destroy');return false;").SetModal(true).SetOkScript(equipmentPrivilige.IsEnableSaveSampleUnAppointmentPeriodTime ? "doSaveSampleUnAppointmentPeriodTime();return false;" : "alert('无操作权限');").ToMvcString();
    }
    function doSaveSampleUnAppointmentPeriodTime() {
        var equipmentId= $("#EquipmentId").val();
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSampleUnAppointmentPeriodTime","Equipment")',
            data: $("#frmSampleUnAppointmentPeriodTimeEdit").serialize() + "&date=" + new Date().getMilliseconds() + "&EquipmentId=" + equipmentId,
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                     $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                sampleUnAppointmentPeriodTimeDialog.dialog('destroy');
                doSearch();
            }
        });
    }
    function doDeleteSampleUnAppointmentPeriodTime(){
        var selectedRows = $('#tbSampleUnAppointmentPeriodTimeList').datagrid("getSelections");
        var ids = "";
        if(selectedRows && selectedRows.length > 0){
            $.messager.confirm('提示', '确认删除?', function (r) {
                if (!r) return;
                for(var i = 0;i < selectedRows.length;i++){
                    ids += ids == "" ? selectedRows[i].Id : "," + selectedRows[i].Id;
                }
                $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteSampleUnAppointmentPeriodTime","Equipment")',
                    data:{"date": new Date().getMilliseconds(),"Ids": ids },
                    success: function (msg) {
                        $.messager.progress('close');
                        if (msg && msg.indexOf("出错") != -1) {
                             $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                            return false;
                        }
                        doSearch();
                    }
                });
            });
        }
    }
    function doSearch() {
        $("#tbSampleUnAppointmentPeriodTimeList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbSampleUnAppointmentPeriodTimeList").datagrid("reload");
        return false;
    }
</script>