@model com.Bynonco.LIMS.Model.View.ViewEquipment
@using com.Bynonco.JqueryEasyUI.Core;
@Html.Hidden("EquipmentId", Model == null ? "" : Model.Id.ToString())
@{var equipmentPrivilige = Model == null ?
        com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetEquipmentPrivilige(User.Identity.Name) :
        com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetEquipmentPrivilige(User.Identity.Name,Model.Id);}
<div>@Html.Partial("TagEquipmentFunList")</div>    
<div id="divTagEquipmentFunDialog" style="display:none"></div>
<script type="text/javascript">
    function doEditTagEquipmentFun(){
        var selectedRow = $("#tbTagEquipmentFunList").datagrid("getSelected");
        if(!selectedRow){
            $.messager.show({ title: '警告', msg: "请选择要编辑的项", showType: 'show' });
            return false;
        }
        if(selectedRow) doAddOrEditTagEquipmentFun(selectedRow.Id);
    }
    function doAddOrEditTagEquipmentFun(id) {
        var equipmentId= $("#EquipmentId").val();
        var url = '@Url.Action("EditTagEquipmentFun","Equipment")' + "?id=" + id + "&date=" + new Date().getMilliseconds() + "&EquipmentId=" + equipmentId;
        $("#divTagEquipmentFunDialog").load(url, function (data) {
            doTagEquipmentFunDialog();
        });
        return false;
    }
    var tagEquipmentFunDialog;
    function doTagEquipmentFunDialog() {
        if (tagEquipmentFunDialog) {
            tagEquipmentFunDialog.dialog("destroy");
        }
        tagEquipmentFunDialog =  @Html.JDialog("divTagEquipmentFunEdit").SetTitle("用户类型可预约时间段信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("tagEquipmentFunDialog.dialog('destroy');return false;").SetModal(true).SetOkScript(equipmentPrivilige.IsEnableSaveTagEquipmentFun ? "doSaveTagEquipmentFun();return false;" : "alter('无操作权限');").ToMvcString();
    }
    function doSaveTagEquipmentFun() {
        var equipmentId= $("#EquipmentId").val();
        var workTimes = getSelectedWorkTimeIds();
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveTagEquipmentFun","Equipment")',
            data: $("#frmTagEquipmentFunEdit").serialize() + "&date=" + new Date().getMilliseconds() + "&EquipmentId=" + equipmentId + "&WorkTimes=" + workTimes,
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                     $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                tagEquipmentFunDialog.dialog('destroy');
                doTagEquipmentFunSearch();
            }
        });
    }
    function doDeleteTagEquipmentFun(){
        var selectedRows = $('#tbTagEquipmentFunList').datagrid("getSelections");
        var ids = "";
        if(selectedRows && selectedRows.length > 0){
            $.messager.confirm('提示', '确认删除?', function (r) {
                if (!r) return;
                for(var i = 0;i < selectedRows.length;i++){
                    ids += ids == "" ? selectedRows[i].Id : "," + selectedRows[i].Id;
                }
                $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteTagEquipmentFun","Equipment")',
                    data:{"date": new Date().getMilliseconds(),"Ids": ids },
                    success: function (msg) {
                        $.messager.progress('close');
                        if (msg && msg.indexOf("出错") != -1) {
                             $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                            return false;
                        }
                        doTagEquipmentFunSearch();
                    }
                });
            });
        }
    }
    function doTagEquipmentFunSearch() {
        $("#tbTagEquipmentFunList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbTagEquipmentFunList").datagrid("reload");
        return false;
    }
</script>