@using com.Bynonco.JqueryEasyUI.Core;
@{
    var equipmentId = ViewData["EquipmentId"] == null ? "" : ViewData["EquipmentId"].ToString();
    var queryExpression = ViewData["QueryExpression"] == null ? "" : ViewData["QueryExpression"].ToString();
}
<div id="divEquipmentTrainningDialog" style="display:none"></div>
<script type="text/javascript">
    function doSearch() {
        var queryExpression = generateEquipmentTrainningQueryExpress();
        if('@(queryExpression)' != "")
            queryExpression += (queryExpression == "" ? "" : "*") + '@(queryExpression)';
        $("#tbEquipmentTrainningList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbEquipmentTrainningList").datagrid("load", { "queryExpression": queryExpression.trim(), "equipmentId": '@equipmentId' });
        return false;
    }
    function doEditEquipmentTrainning(id){
        if(!id || id.trim()==""){
           var selectedRow = $("#tbEquipmentTrainningList").datagrid("getSelected");
           if(!selectedRow || selectedRow.Id=="" || selectedRow.Id.isDefaultGuid()) {
              $.messager.show({ title: '提示', msg: "请选择要编辑的项", showType: 'show' });
              return false;
           }
           id = selectedRow.Id;
        }
        doAddOrEditEquipmentTrainning(id);
    }
    function doAddOrEditEquipmentTrainning(id) {
        var equipmentId = '@equipmentId'
        var url = '@Url.Action("EditTrainning","Equipment")' + "?id=" + id + "&date=" + new Date().getMilliseconds();
        if(equipmentId != "") url += "&EquipmentId=" + equipmentId;
        if((!id || id.trim()=="") && equipmentId == ""){
            $.messager.show({ title: '提示', msg: "设备为空,无法新增设备培训", showType: 'show' });
        }
        else{
            $("#divEquipmentTrainningDialog").load(url, function (data) {
                doEquipmenTrainningDialog();
            })
        }
        return false;
    }
    var equipmentTrainningDialog;
    function doEquipmenTrainningDialog() {
        if (equipmentTrainningDialog) {
            equipmentTrainningDialog.dialog("destroy");
        }
        equipmentTrainningDialog =  @Html.JDialog("divEquipmentTrainningEdit").SetTitle("设备培训信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("equipmentTrainningDialog.dialog('destroy');return false;").SetOnClose("equipmentTrainningDialog.dialog('destroy');return false;").SetModal(true).SetOkScript("doSaveEuipmentTrainning();return false;").ToMvcString();
    }
    function doSaveEuipmentTrainning() {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveTrainning","Equipment")',
            data: $("#frmEquipmentTrainningEdit").serialize() + "&date=" + new Date().getMilliseconds(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                     $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                equipmentTrainningDialog.dialog('close');
                doSearch();
            }
        });
    }
    function generateSelectedIds() {
        var ids = [];
        var rows = $("#tbEquipmentTrainningList").datagrid("getSelections");
        if (rows && rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].Id);
            }
        }
        return ids;
    }
    function doDeleteEquipmentTrainning(ids){
         var deleteIds = !ids || ids.trim() == "" ? generateSelectedIds().toString() : ids;
        if (deleteIds == "") {
            $.messager.show({ title: '提示', msg: "请选择要删除的项", showType: 'show' });
            return false;
        }
        $.messager.confirm('提示', '确认删除?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteTrainning","Equipment")',
                data:{"date": new Date().getMilliseconds(),"Ids": deleteIds },
                success: function (msg) {
                    $.messager.progress('close');
                    if (msg && msg.indexOf("出错") != -1) {
                            $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                    doSearch();
                }
            });
        });
    }
    
</script>