@model com.Bynonco.LIMS.Model.UserEquipmentTime
@using com.Bynonco.JqueryEasyUI.Core;
<style type="text/css">
     #tdWorkTimes th{ border:none}
     #tdWorkTimes td{ border:none}
</style>
<div id="divUserEquipmentTimeEdit">
    <form id="frmUserEquipmentTimeEdit" action="#">
    @Html.Hidden("UserEquipmentTimeId", Model == null ? "" : Model.Id.ToString())
    <table class="edit-table" style="width:700px;">
        <tr>
            <th>用户<span class="required">*</span></th>
            <td id="tbSelectUsers" colspan="3">
                @(Html.TokenInput("UserIds")
                .SetUrl(Url.Action("GetUserListByKeyWord", "User"))
                .SetPrePopulate(ViewData["UsersJson"] == null || string.IsNullOrWhiteSpace(ViewData["UsersJson"].ToString()) ? null : ViewData["UsersJson"].ToString())
                .SetSingle(false)
                .SetPreventDuplicates(true)
                .SetWidth(200)
                .ToMvcString())
            </td>
        </tr>
         <tr>
            <th>每周工作日</th>
            <td>
               @Html.Partial("WorkDays") 
            </td>
        </tr>
        <tr>
            <th>预留时间段</th>
            <td  id="tdWorkTimes">
               @Html.Partial("AppointmentTimesOfDay")
            </td>
        </tr>
         <tr>
            <th>同时对导师下学生生效</th>
            <td>
               @Html.CheckBox("IsEffectOnStudent")
            </td>
            
        </tr>
        <tr>
            <th>备注</th>
            <td>
                @Html.TextArea("Remark", Model == null ? "" : Model.Remark, new { style = "font-weight:normal;font-size:12px;text-decoration:none;height:120px;width:600px;margin-right:5px;" })
            </td>
        </tr>
    </table>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#tbSelectUsers ul.token-input-list-facebook").css("width", "600px");
    });
</script>