@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model;
@using com.Bynonco.LIMS.Model.View;
@using com.Bynonco.LIMS.Model.Enum;
@{
    var sampleRoleStr = ViewData["SampleRoleStr"];
    var viewSampleApply = (ViewSampleApply)ViewData["ViewSampleApplyInfo"];
    var userEquipmentPrivilige =(UserEquipmentPrivilige) ViewData["UserPriviliges"];
    var loginUserId = (Guid)ViewData["LoginUserId"];
    var applicantName = !userEquipmentPrivilige.IsEnableLookSecretInfo && viewSampleApply .ApplicantId!=loginUserId? "***" : viewSampleApply.ApplicantName;
    var organizationName = !userEquipmentPrivilige.IsEnableLookSecretInfo && viewSampleApply.ApplicantId != loginUserId ? "***" : viewSampleApply.OrganizationName;
    var telNo = !userEquipmentPrivilige.IsEnableLookSecretInfo && viewSampleApply.ApplicantId != loginUserId ? "***" : viewSampleApply.TelephoneNo;
    var doubterName = !userEquipmentPrivilige.IsEnableLookSecretInfo && viewSampleApply.DoubterId != loginUserId ? "***" : viewSampleApply.DoubterName;
}
@if (viewSampleApply != null)
{
    <div id="divAuditDoubtEdit">
        <table class="edit-table">
        <tr>
            <th>委托编号</th>
            <td>
                <span>@viewSampleApply.SampleNo</span>
            </td>
        </tr>
        <tr>
            <th>委托人</th>
            <td>
                <span>@applicantName</span>
            </td>
        </tr>
        <tr>
            <th>委托单位</th>
            <td>
                <span>@organizationName</span>
            </td>
        </tr>
        <tr>
            <th>样品数</th>
            <td>
                <span>@viewSampleApply.Quatity</span>
            </td>
        </tr>
        <tr>
            <th>分析项目</th>
            <td>
                <span>@viewSampleApply.SampleItemName</span>
            </td>           
        </tr>
        <tr>
            <th>收费状态</th>
            <td>
                <span>@viewSampleApply.ChargeStatusName</span>
            </td>
        </tr>
        <tr>
            <th>状态</th>
            <td>
                @Html.JComboBox("SampleStatus").SetData(ViewData["SampleStatusJson"]).SetWidth(252).ToMvcString()
            </td>
        </tr>
            <tr>
            <th>质疑人</th>
            <td>
                <span>@doubterName</span>
            </td>
        </tr>
            <tr>
            <th>质疑时间</th>
            <td>
                <span>@viewSampleApply.DoubtAuditTimeStr</span>
            </td>
        </tr>
        <tr>
            <th>受理人</th>
            <td>
                <span>@viewSampleApply.DoubtAuditorName</span>
            </td>
        </tr>
        <tr>
            <th>受理时间</th>
            <td>
                <span>@viewSampleApply.DoubtAuditTimeStr</span>
            </td>
        </tr>
        <tr>
            <th style="height:60px;">质疑备注</th>
            <td style="height:60px; width:350px">
                @Html.TextArea("DoubtRemark", viewSampleApply.DoubtRemark, new { style = "font-size:12px;font-weight:normal;width:95%;height:55px", disabled = true })
            </td>
        </tr>
        <tr>
            <th style="height:60px;">受理备注</th>
            <td style="height:60px; width:350px">
                @Html.TextArea("DoubtAuditRemark", viewSampleApply.DoubtAuditRemark, new { style = "font-size:12px;font-weight:normal;width:95%;height:55px;" })
            </td>
        </tr>
    </table>
    </div>
    <script type="text/javascript">
        var sampleRoleStr = "@sampleRoleStr";
        var sampleApplyId = "@viewSampleApply.Id";
        function doSave() {
            var sampleStatus = $("#SampleStatus").combobox("getValue");
            var remark = $("#DoubtAuditRemark").val();
            if (sampleStatus == "@((int)SampleApplyStatus.Doubt)") {
                $.messager.show({ title: '提示', msg: "请选择状态", showType: 'show' });
                return false;
            }
            $.messager.progress({ title: '提示', msg: '正在请求数据,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("SampleApplyDoubtAuditSave","SampleManage")' + "?time=" + new Date().getMilliseconds(),
                data: { "sampleRoleStr": sampleRoleStr, "sampleApplyid": sampleApplyId, "remark": remark, "status": sampleStatus },
                success: function (msg) {
                    $.messager.progress('close');
                    if (msg.indexOf("出错") >= 0) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                    $('#divAuditDoubtEdit').dialog('close');
                    doSearch();
                    if (sendMailMode.toString() == "@((int)SendMailMode.Manual)" && msg.indexOf(",") == -1) {
                        doSendMessage(msg);
                    }
                }
            });
            return false;
        }
    </script>  
}
