@using com.Bynonco.JqueryEasyUI.Core;
<div id="divSampleApplyTutorAuditContainer">
   <form id="frmSampleApplyTutorAudit" action="#">
    @Html.Hidden("SampleApplyIds", ViewData["SampleApplyIds"])
    @Html.Hidden("TutorId", ViewData["TutorId"])
    @Html.Hidden("IsFromLocal","true")
    
    <table class="edit-table">
        <tr>
            <th>状态</th>
            <td>
                @Html.JComboBox("TutorAuditStatus").SetData(ViewData["TutorAuditStatusJson"]).SetWidth(200).ToMvcString()
            </td>
        </tr>
        <tr>
            <th>备注</th>
            <td>
                @Html.TextArea("TutorAuditRemark", ViewData["TutorAuditRemark"] == null ? "" : ViewData["TutorAuditRemark"].ToString(), new { style = "font-weight:normal;font-size:12px;text-decoration:none;height:60px;width:320px;margin-right:5px;overflow-y:auto" })
            </td>
        </tr>
    </table>
   </form>
</div>
