@using com.Bynonco.JqueryEasyUI.Core;
<div id="divTrainningTypeDialog" style="display:none"></div>
<script type="text/javascript">
    function doSearchTrainningType() {
        $('#tbTrainningTypeList').treegrid('loadData', { total: 0, rows: [] });
        doOrgChange(null);
        return false;
    }
    var trainningTypeDialog;
    function doTrainningTypeDialog() {
        if (trainningTypeDialog) {
            trainningTypeDialog.dialog("destroy");
        }
        trainningTypeDialog =  @Html.JDialog("divTrainningTypeEdit").SetTitle("类型信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("trainningTypeDialog.dialog('close');return false;").SetModal(true).SetOkScript("doSaveTrainningType();").ToMvcString();
    }
    function doAddTrainningType(id) {
       doAddOrEditTrainningType(id);
    }
    function doEditTrainningType(id) {
       if(!id || id.trim()==""){
           var selectedTrainningType = $("#tbTrainningTypeList").treegrid("getSelected");
           if(!selectedTrainningType || selectedTrainningType.Id=="" || selectedTrainningType.Id.isDefaultGuid()) {
              $.messager.show({ title: '提示', msg: "请选择类型", showType: 'show' });
              return false;
           }
           id = selectedTrainningType.Id;
       }
       doAddOrEditTrainningType(id);
    }
    function doAddOrEditTrainningType(id){
        var url = '@Url.Action("Edit","TrainningType")'+ "?id=" + id+ "&orgId=@(ViewBag.SelectedOrgId)&date=" + new Date().getMilliseconds();
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $("#divTrainningTypeDialog").load(url,function(){
            doTrainningTypeDialog();
            $.messager.progress('close');
        })
        return false;
    }
    function doSaveTrainningType(){
        if($("#frmTrainningTypeEdit").find("#Name").val().trim() == ""){
          $.messager.show({ title: '提示', msg: "名称为空", showType: 'show' });
          return false;
        }
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("Save","TrainningType")' +  "?date=" + new Date().getMilliseconds(),
            data: $("#frmTrainningTypeEdit").serialize(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                    $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                    return false;
                }
                trainningTypeDialog.dialog('close');
                doSearchTrainningType();
            }
        });
   }
   function doDeleteTrainningType(id){
        if(!id || id.trim() == ""){
              var selectedTrainningType = $("#tbTrainningTypeList").treegrid("getSelected");
                if(!selectedTrainningType || selectedTrainningType.Id.trim() == "" || selectedTrainningType.Id.isDefaultGuid()){
                    $.messager.show({ title: '提示', msg:"请选择要删除的项", showType: 'show' });
                    return false;
                }
                id = selectedTrainningType.Id;
         }
        $.messager.confirm('提示', '确认删除?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "TrainningType")'+ "?date=" + new Date().getMilliseconds(),
                data: "id=" + id ,
                success: function (msg) {
                    $.messager.progress('close');
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                        return false;
                    }
                    doSearchTrainningType();
                }
            });
        });
        return false;
   }
   function adjustXpathTrainningType(xPath,compareTarget){
        if(!xPath || xPath.trim()=="" || !compareTarget || compareTarget.trim()=="") return false;
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("AdjustXPath", "TrainningType")' +  "?date=" + new Date().getMilliseconds(),
            data: {"xPath":xPath,"compareTarget":compareTarget},
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                    $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                    return false;
                }
                doSearchTrainningType();
            }
        });
        return false;
   }
   function doOrgChange(element) {
        var orgId = "";
        if(element) orgId = element.value
        else element = orgId = $("#OrgIdSelect").val();
        if (orgId == "" && orgId.isDefaultGuid()) return;
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("GetTreeGridTrainningTypeList", "TrainningType")',
             data: { "orgId": orgId },
             success: function (data) {
                 $('#tbTrainningTypeList').treegrid('loadData', { total: 0, rows: [] });
                 $('#tbTrainningTypeList').treegrid('loadData', data);
                 try{$.messager.progress('close');}catch(e){}
             }
         });
         
     }
</script>