@using com.Bynonco.LIMS.Model.Enum;
@{
    Layout = "~/Views/Shared/LZDXHomeLayout/000009.cshtml";
    ViewBag.Title = "首页";
    //var orgName = ViewData["OrgName"] == null ? "" : ViewData["OrgName"].ToString();
    //var orgXPath = ViewData["OrgXPath"] == null || ViewData["OrgXPath"] == "" ? "000" : ViewData["OrgXPath"].ToString();
}
@section ImportCssAndJs
{
    <script type="text/javascript">
        $(function () {
            $(".tag-title").mouseover(function () {
                $(this).siblings().removeClass("current");
                $(this).siblings(".more").addClass("hide");
                $(this).parent().next().find(".tag-box").addClass("hide");
                var id = $(this).attr("id");
                var moreId = id.replace("tag", "more");
                var boxId = id.replace("tag", "box");
                $(this).addClass("current");
                $("#" + moreId).removeClass("hide");
                $("#" + boxId).removeClass("hide");
                return false;
            });
        });
    </script>
}
@section FirstLineLeft
{
    @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.FirstLineLeft)
}
@section FirstLineCenter
{
    @Html.Partial("../Home/Gallery")
}
@section FirstLineRight
{
    <div class="home-login-box">
        @Html.Partial("../Account/HomeLoginContainer")
    </div>
}

@section SecondLineLeft
{
    @Html.Partial("../Home/HotEquipment")
}
@section SecondLineCenter
{
    @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.SecondLineCenter)
}
@section SecondLineRight
{
    @Html.Partial("../Home/QuickLink")
}

@section ThirdLineLeft
{
    @Html.Partial("../Home/CurrentUsingEquipment")
}
@section ThirdLineCenter
{
}
@section ThirdLineRight
{
    <div class="background-box-200-left">
        @Html.Partial("../Home/FriendLink")
    </div>
}
