@using com.Bynonco.LIMS.Model.Enum;
@{
    Layout = "~/Views/Shared/ZGNYKXYHomeLayout/HomeLayout.cshtml";
    ViewBag.Title = "首页";
    var orgName = ViewData["OrgName"] == null ? "" : ViewData["OrgName"].ToString();
    var orgXPath = ViewData["OrgXPath"] == null || ViewData["OrgXPath"] == "" ? "000" : ViewData["OrgXPath"].ToString();
    IList<com.Bynonco.LIMS.Model.LabOrganization> labOrganizationList = ViewData["SubLabOrganizationList"] == null ? null : (IList<com.Bynonco.LIMS.Model.LabOrganization>)ViewData["SubLabOrganizationList"];
}
@section ImportCssAndJs
{
    <script type="text/javascript">
        $(function () {
            $(".tag-title").mouseover(function () {
                $(this).siblings().removeClass("current");
                $(this).siblings(".more").addClass("hide");
                $(this).parent().next().find(".tag-box").addClass("hide");
                var id = $(this).attr("id");
                var moreId = id.replace("tag", "more");
                var boxId = id.replace("tag", "box");
                $(this).addClass("current");
                $("#" + moreId).removeClass("hide");
                $("#" + boxId).removeClass("hide");
                return false;
            });
        });
    </script>
}
@section FirstLineLeft
{
    <div class='background-box-left' style='background-position:top;'>
       @Html.Partial("../Home/ZGNYKXYEquipmentCategory")
    </div>
}
@section FirstLineCenter
{
<div style='width:500px;'>
    @Html.Partial("../Home/ZGNYKXYGallery")
    </div>
}
@section FirstLineRight
{
    <div class="background-box-right">
        @Html.Partial("../Home/ZGNYKXYQuickLink")
    </div>
}

@section SecondLineLeft
{
    <div class='background-box-left seven-line-content' style='padding-top:10px;margin-bottom:10px;overflow:hidden;height:170px;'>
        @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.SecondLineLeft)
    </div>
}
@section SecondLineCenter
{
    @{ViewData["SubTitleLength"] = 60;}
    @Html.Partial("../Home/ZGNYKXYArticle_ShowTop1", ArticleCategoryHomeLocation.SecondLineCenter)
}
@section SecondLineRight
{
    <div class='background-box-right seven-line-content' style='padding-top:10px;margin-bottom:10px;overflow:hidden;height:170px;'>
        @{ViewData["SubTitleLength"] = 30;}
        @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.SecondLineRight)
    </div>
}

@section ThirdLineLeft
{
    <div class="background-box-left" style='padding-top:10px;'>
        @Html.Partial("../Home/FriendLink")
    </div>
}
@section ThirdLineCenter
{
       @Html.Partial("../Home/CurrentUsingEquipment")
}
@section ThirdLineRight
{
    <div class="background-box-right" style='padding-top:10px;'>
    @{ViewData["SubTitleLength"] = 30;}
     @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.ThirdLineRight)
    </div>
}