@model com.Bynonco.LIMS.Model.Enum.ArticleCategoryHomeLocation
@using com.Bynonco.LIMS.Utility;
@using com.Bynonco.LIMS.Model;
@using com.Bynonco.LIMS.Model.Enum;
@{
    var orgXPath = ViewData["OrgXPath"] == null || ViewData["OrgXPath"] == "" ? "000" : ViewData["OrgXPath"].ToString();
    var contentHeight = Model.ToString().StartsWith("First") || Model.ToString().StartsWith("Third") ? 153 : 186;
    bool isEmpty = true;
    var titleName = "没有文章列表";
    if (ViewData[Model.ToString() + "ArticleCategory"] != null)
    {
        var articleCategoryList = (List<ArticleCategory>)ViewData[Model.ToString() + "ArticleCategory"];
        if (articleCategoryList != null && articleCategoryList.Count() > 0)
        {
            var currentArticleCategory = articleCategoryList[0];
            var currentArticleList = (List<Article>)ViewData[currentArticleCategory.Id.ToString()];
            var routeArticleCategoryValue = new { ArticleCategoryId = currentArticleCategory.Id, XPath = orgXPath };
            var firstArticleId = currentArticleList == null || currentArticleList.Count() == 0 ? Guid.Empty : currentArticleList[0].Id;
            var moreUrl = currentArticleCategory.HomeLocationShowTypeEnum == ArticleCategoryHomeLocationShowType.Content ? Url.Action("Show", "Article", new { id = firstArticleId, ArticleCategoryId = currentArticleCategory.Id, XPath = orgXPath }) : Url.Action("ShowList", "Article", routeArticleCategoryValue);
            titleName = currentArticleCategory.Name;
            if (currentArticleList != null && currentArticleList.Count() > 0)
            {
                isEmpty = false;
                switch (currentArticleCategory.HomeLocationShowTypeEnum)
                {
                    case ArticleCategoryHomeLocationShowType.List:
                        var subTitleLength = 50;
                        var articleTopItem = currentArticleList[0];
                        <div class="top-news">
                            <b>
                                <a href='@Url.Action("Show", "Article", new { id = articleTopItem.Id, ArticleCategoryId = articleTopItem.ArticleCategoryId, XPath = orgXPath })' title="@articleTopItem.Title">
                                    @(ShortcutStringUtility.GetSubString(articleTopItem.Title, subTitleLength, ".."))
                                </a>
                            </b>
                        </div>
                        <h2 class='title'>
                            <span>@currentArticleCategory.Name</span>
                            <a href='@moreUrl' class='more'>更多>></a>
                        </h2>
                        <div class="newcontent" style='height: 120px;'>
                            <ul>
                            @for (int i = 1; i < currentArticleList.Count() && i < 5; i++)
                            {
                                var articleItem = currentArticleList[i];
                                <li>
                                    <a href='@Url.Action("Show", "Article", new { id = articleItem.Id, ArticleCategoryId = articleItem.ArticleCategoryId, XPath = orgXPath })' title="@articleItem.Title">
                                        @(ShortcutStringUtility.GetSubString(articleItem.Title, subTitleLength, ".."))
                                    </a>
                                    <span>@(articleItem.PublishAt.HasValue ? articleItem.PublishAt.Value.ToString("yyyy-MM-dd") : "")</span>
                                </li>
                            }
                            </ul>
                        </div>
                        break;
                }
            }
        }
    }
    if (isEmpty)
    {
        <div class="top-news">
            <b>没有文章</b>
        </div>
        <div class="new">
            <div class="newtitle">@titleName</div>
            <div class="newcontent">
            </div>
        </div>
    }
}