@model com.Bynonco.LIMS.Model.Message
@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model.Enum;
@{
    bool isAjax = ViewData["IsAjax"] == null ? false : (bool)ViewData["IsAjax"];
    int businessType = Model == null ? -1 : Model.BusinessType;
}
<style type="text/css">
    .edit-box table.edit-info{ width:670px;}
    .layout-center .main-content .edit-box table.edit-info th{ width:70px;}
    .layout-center .main-content .edit-box .edit-operate{ margin-top:15px;}
    .inner-title{display:inline-block;width:50px;}
</style>
@Html.Partial("../Message/ScriptContainer")
<div class="edit-box">
    <form id="frmMessageEdit" action="#">
    <table class="edit-info">
        <tr>
            <th>收件人</th>
            <td id="tdBusinessUser">
                <div class="float_l hide">
                    @Html.RadioButton("BusinessType", ((int)MessageBusinessType.User).ToString(), businessType == (int)MessageBusinessType.User, new { @class = "BusinessType", @id = "BusinessTypeUser",@checked="true" })
                    <label class="inner-title">个人用户</label>
                </div>
                <div class='pane-BusinessType float_l'>
                    @(Html.TokenInput("ReceiverIds")
                    .SetUrl(Url.Action("GetUserListByKeyWord", "User"))
                    .SetSingle(false)
                    .SetWidth(252)
                    .SetPrePopulate(ViewData["ReceiveUserListJson"] == null || string.IsNullOrWhiteSpace(ViewData["ReceiveUserListJson"].ToString()) ? null : ViewData["ReceiveUserListJson"].ToString())
                    .ToMvcString())
                </div>
            </td>
        </tr>
        <tr>
            <th>标题</th>
            <td>
                @Html.JValidateBox("Subject").SetValue(Model == null ? "" : Model.Subject).SetWidth(400).ToMvcString()
                <span class="required">必填</span>
            </td>
        </tr>
        <tr>
            <th>重要级别</th>
            <td id="tdGrade">
                @(Html.JComboBox("Grade")
                .SetData(ViewData["GradeJson"])
                .SetValue(Model == null ? "" : Model.Grade.ToString())
                .SetOnLoadSuccess("setTimeout('doOnMessageGradeLoadSuccess();', 500);")
                .SetWidth(405)
                .ToMvcString())
                <span class="required">必填</span>
            </td>
        </tr>
        
       <tr>
            <td colspan="2">
               @Html.EditorFor(m => m.ContentHTML)
               @Html.Hidden("ContentNotHTML")
            </td>
       </tr>
    </table>
  </form>
  <div class="edit-operate">
       @Html.JLinkButton("btnSendMessage", "发送").SetIconCls("icon-mail").SetPlain(true).SetOnclick("doSendMessage();return false;").ToMvcString()
       @Html.JLinkButton("btnSaveMessage", "保存草稿").SetIconCls("icon-save").SetPlain(true).SetOnclick("doSaveMessage();return false;").ToMvcString()
       @Html.JLinkButton("btnBack", "返回").SetIconCls("icon-back").SetPlain(true).SetOnclick("doBack();return false;").ToMvcString()
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tdBusinessUser ul.token-input-list-facebook").css("width", "320px");
    });
    function doOnMessageGradeLoadSuccess() {
        $("#tdGrade span input.combo-text.validatebox-text").val('@ViewData["GradeName"]');
    }
</script>