@using com.Bynonco.JqueryEasyUI.Core;
@{
    var isPopDialog = ViewData["IsPopDialog"] == null ? false : bool.Parse(ViewData["IsPopDialog"].ToString());
    var equipmentId = ViewData["EquipmentId"] == null ? "" : ViewData["EquipmentId"].ToString();
    var userId = ViewData["UserId"] == null ? "" : ViewData["UserId"].ToString();
}
<div id='divUserEquipmentAuthorizationManage' style='@(isPopDialog ? "width:800px;" : "")'>
    @Html.Partial("../EquipmentAuthorization/UserEquipmentAuthorizationList")
</div>
<div id="divUserEquipmentAuthorizationDialog" style="display:none"></div>

<script type="text/javascript">
    function generateUserEquipmentAuthorizationSelectedIds() {
        var ids = [];
        var rows = $("#tbUserEquipmentAuthorizationList").datagrid("getSelections");
        if (rows && rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].Id);
            }
        }
        return ids;
    }
    function doDeleteUserEquipmentAuthorization(ids) {
        var delIds = ids == null || ids.trim() == "" ? generateUserEquipmentAuthorizationSelectedIds().toString(): ids;
        if (delIds == null || delIds == "") {
            $.messager.show({ title: '提示', msg: "请选择要删除的项", showType: 'show' });
            return false;
        }
        $.messager.confirm('提示', '是否删除该设备授权信息?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("UserEquipmentAuthorizationDelete", "EquipmentAuthorization",new { date=DateTime.Now.Millisecond})',
                data: { "ids": delIds },
                success: function (msg) {
                    $.messager.progress('close');
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                    SearchUserEquipmentAuthorization();
                }
            });
        });
        return false;
    }

    var userEquipmentAuthorizationDialog;
    function doUserEquipmentAuthorizationDialog() {
        if (userEquipmentAuthorizationDialog) {
            userEquipmentAuthorizationDialog.dialog("destroy");
        }
        userEquipmentAuthorizationDialog =  @Html.JDialog("divUserEquipmentAuthorizationEdit").SetTitle("设备授权信息").SetIconCls("icon-save").SetAutoDialog(false).SetOnClose("userEquipmentAuthorizationDialog.dialog('destroy');return false;").SetCancelScript("userEquipmentAuthorizationDialog.dialog('close');return false;").SetModal(true).SetOkScript("doCheckUserEquipmentAuthorization();").ToMvcString();
    }
    function doAddOrEditUserEquipmentAuthorization(id){
        var equipmentId = '@(ViewData["EquipmentId"]==null? "" :ViewData["EquipmentId"].ToString())';
        var userId = '@(ViewData["UserId"] == null ? "" : ViewData["UserId"].ToString())';
        var url = '@Url.Action("UserEquipmentAuthorizationEdit","EquipmentAuthorization")';
        $("#divUserEquipmentAuthorizationDialog").load(url,{"id":id,"EquipmentId":equipmentId,"UserId":userId,"date":new Date().getMilliseconds()},function(){
            doUserEquipmentAuthorizationDialog();
        })
        return false;
    }
    function doAddUserEquipmentAuthorization(id) {
       doAddOrEditUserEquipmentAuthorization(id);
    }
    function doEditUserEquipmentAuthorization(id) {
       if(!id || id.trim()==""){
              $.messager.show({ title: '提示', msg: "请选择要编辑的项", showType: 'show' });
              return false;
       }
       doAddOrEditUserEquipmentAuthorization(id);
    }

    function doCheckUserEquipmentAuthorization() {
        if($("#frmUserEquipmentAuthorizationEdit #UserId").val().trim()== ""){
             $.messager.show({ title: '提示', msg: "用户为空", showType: 'show' });
             return false;
        }
        if( $("#frmUserEquipmentAuthorizationEdit #EquipmentId").val().trim() == ""){
             $.messager.show({ title: '提示', msg: "设备为空", showType: 'show' });
             return false;
        }
        if ($("#StartDate").datebox("getValue").trim() == "") {
            $.messager.show({ title: '警告', msg: '开始时间为空', showType: 'show' });
            return false;
        }
        if ($("#EndDate").datebox("getValue").trim() == "") {
            $.messager.show({ title: '警告', msg: '结束时间为空', showType: 'show' });
            return false;
        }
        var url = '@Url.Action("CheckUserEquipmentAuthorization","EquipmentAuthorization")';
         $.ajax({
            type: "Post",
            url: '@Url.Action("CheckUserEquipmentAuthorization","EquipmentAuthorization",new { date=DateTime.Now.Millisecond})',
            data: $("#frmUserEquipmentAuthorizationEdit").serialize(),
            success: function (msg) {
                if (msg && msg.indexOf("出错,") != -1) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                else if (msg != "true" && msg != "") {
                    $.messager.confirm('提示', '所选授权时间段有冲突，已有预约或授权:<br /><br /><br />' + msg + '<br />是否继续保存?', function (r) {
                        if (!r) return;
                        doSaveUserEquipmentAuthorization();
                    });
                }
                else {
                   doSaveUserEquipmentAuthorization();
                }
            }
        });
    }

    function doSaveUserEquipmentAuthorization(){
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "Post",
            url: '@Url.Action("UserEquipmentAuthorizationSave","EquipmentAuthorization",new { date=DateTime.Now.Millisecond})',
            data: $("#frmUserEquipmentAuthorizationEdit").serialize(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                userEquipmentAuthorizationDialog.dialog('close');
                SearchUserEquipmentAuthorization();
            }
        });
    }
    function SearchUserEquipmentAuthorization()
    {
        var queryExpression = "";
        $("#tbUserEquipmentAuthorizationList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbUserEquipmentAuthorizationList").datagrid("load", { "queryExpression": queryExpression.trim() });
    }
</script>