@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model.Enum;
@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../MaterialPurchase/Search")
    </div>
</div>
<div class="layout-center-full">
    <ul class="tabs" style="border-bottom:0;padding-top:10px;">
        <li class="tabs-selected" id=''><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">全部</span><span class="tabs-icon"></span></a></li>
        <li status='@((int)MaterialPurchaseStatus.InputPass)'><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">等待报销结账</span><span class="tabs-icon"></span></a></li>
        <li status='@((int)MaterialPurchaseStatus.BalancePass)'><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">报销结账通过</span><span class="tabs-icon"></span></a></li>
        <li status='@((int)MaterialPurchaseStatus.BalanceReject)'><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">报销结账不通过</span><span class="tabs-icon"></span></a></li>
    </ul>
    @Html.Partial("../MaterialPurchase/List")
</div>
@Html.Partial("../MaterialPurchase/ScriptContainer")
@Html.Partial("../MaterialInfo/SelectMaterialInfoNoPagingContainer")
@Html.Partial("../MaterialInfo/SelectMaterialSupplierNoPagingContainer")
@Html.Partial("../MaterialInput/ScriptContainer")
@Html.Partial("../MaterialUserAccount/ScriptContainer")