@model com.Bynonco.LIMS.Model.MaterialPurchase
@using com.Bynonco.LIMS.Model.View; 
@using com.Bynonco.JqueryEasyUI.Core; 
@{
    var materialPurchaseItemList = ViewData["ViewMaterialPurchaseItemList"] == null ? null : (List<ViewMaterialPurchaseItem>)ViewData["ViewMaterialPurchaseItemList"];
    var isShowAuditGroupAdmin = ViewData["IsShowAuditGroupAdminRemark"] == null ? false : bool.Parse(ViewData["IsShowAuditGroupAdminRemark"].ToString());
    var isShowAuditDirector = ViewData["IsShowAuditDirectorRemark"] == null ? false : bool.Parse(ViewData["IsShowAuditDirectorRemark"].ToString());
    var isShowAuditOperator = ViewData["IsShowAuditOperatorRemark"] == null ? false : bool.Parse(ViewData["IsShowAuditOperatorRemark"].ToString());
    var isShowOnlyEdit = !isShowAuditGroupAdmin && !isShowAuditDirector && !isShowAuditOperator;
}
<div id="divMaterialPurchaseEdit">
 <form id="frmMaterialPurchaseEdit" action="#">
    @Html.Hidden("Id",Model == null ? "": Model.Id.ToString())
    <table id="tdMaterialPurchaseEdit" class="edit-table"  style="width:730px;height:auto">
        <tr>
            <th><span class="required">* </span>采购单号</th>
            <td>
                @(Html.JValidateBox("PurchaseNum")
                .SetValue(Model == null || string.IsNullOrWhiteSpace(Model.PurchaseNum) ? (ViewData["PurchaseNumSerilaNo"] == null ? "" : ViewData["PurchaseNumSerilaNo"].ToString()) : Model.PurchaseNum)
                .SetWidth(300).ToMvcString())
            </td>
            <th><span class="required">* </span>采购时间</th>
            <td>
                @Html.JDateTimePicker("ApplyTime").SetValue(Model == null ? DateTime.Now.ToString("yyyy-MM-dd") : Model.ApplyTime.ToString("yyyy-MM-dd")).SetWidth(105).ToMvcString()
            </td>
        </tr>
        
        <tr>
            <th><span class="required">* </span>采购人</th>
            <td id="tdApplyUser">
                @(Html.TokenInput("ApplyUserId")
                .SetUrl(Url.Action("GetUserListByKeyWord", "User"))
                .SetPrePopulate(ViewData["ApplyUserJson"] == null || string.IsNullOrWhiteSpace(ViewData["ApplyUserJson"].ToString()) ? null : ViewData["ApplyUserJson"].ToString())
                .SetSingle(true)
                .SetWidth(125)
                .ToMvcString())
            </td>
            <th><span class="required">*</span>仪器组群</th>
            <td id='tdEquipmentGroupId'  colspan='3'>
                @(Html.TokenInput("EquipmentGroupId")
                    .SetUrl(Url.Action("GetEquipmentGroupByKeyWord", "EquipmentGroup"))
                    .SetSingle(true)
                    .SetWidth(400)
                    .SetPrePopulate(ViewData["EquipmentGroupJson"] == null || string.IsNullOrWhiteSpace(ViewData["EquipmentGroupJson"].ToString()) ? null : ViewData["EquipmentGroupJson"].ToString())
                    .ToMvcString())
            </td>
        </tr>
        <tr class='hide'>
            <th><span class="required">* </span>状态</th>
            <td>
                @(Html.JComboBox("Status")
                    .SetEditable(false)
                    .SetData(ViewData["MaterialPurchaseStatusJson"])
                    .SetWidth(105)
                    .SetDisabled(true)
                    .ToMvcString())
            </td>
        </tr>
        <tr>
            <th colspan="4" style='text-align:left;'>
                &nbsp;&nbsp;&nbsp;<span class="required">* </span>采购项目
                @Html.JLinkButton("btnSelectMaterialInfo", "新增").SetIconCls("icon-add").SetPlain(true).SetOnclick("doSelectMaterialPurchaseMaterialInfo();return false;").ToMvcString()
                @Html.Hidden("MaterialInfoIds", Model == null ? "" : Model.MaterialPurchaseItemIds)
            </th>
        </tr>
        <tr>
            <td colspan='4'>
                <table id="tbMaterialPurchaseItemList" cellpadding="0" cellspacing="0" border="0" class="edit-table">
                    <tr>
                        <th style='width:30px;'></th>
                        <th >名称</th>
                        <th style='width:70px;'>库存量</th>
                        <th style='width:70px;'>报警值</th>
                        <th style='width:80px;'><span class="required">* </span>单价</th>
                        <th style='width:60px;'><span class="required">* </span>采购量</th>
                        <th style='width:80px;'><span class="required">* </span>总额</th>
                        <th style='width:120px;'>供应商名称</th>
                        <th style='width:80px;'>联系电话</th>
                    </tr>
                    @if (materialPurchaseItemList != null && materialPurchaseItemList.Count() > 0)
                    {
                        foreach (var item in materialPurchaseItemList)
                        {
                            @Html.Partial("../MaterialPurchase/ItemEdit", item)
                        }
                    }
                </table>
            </td>
        </tr>
        @if (isShowOnlyEdit)
        {
        <tr>
            <th>备注</th>
            <td colspan='3'>
                @Html.TextArea("Remark", Model == null ? "" : Model.Remark, new { style = "width:96%;height:80px" })
            </td>
        </tr>
        }
        else
        {
             <tr>
                <th>备注</th>
                <td colspan='3'>
                    @(Model == null ? "" : Model.Remark)
                </td>
            </tr>
            if (isShowAuditGroupAdmin)
            {
            <tr>
                <th>组群负责人意见</th>
                <td colspan='3'>
                    @Html.TextArea("AuditGroupAdminRemark", Model == null ? "" : Model.AuditGroupAdminRemark, new { style = "width:96%;height:80px" })
                </td>
            </tr>
            }
            else
            {
                var groupAdminAuditInfo = Model == null ? "" :
                    (Model.GroupAdmin == null ? "" : Model.GroupAdmin.UserName)
                    + (Model.AuditGroupAdminTime.HasValue ? "(" + Model.AuditGroupAdminTime.Value.ToString("yyyy-MM-dd HH:mm:ss") + ")" : "")
                    + Model.AuditGroupAdminRemark;
                <tr>
                    <th>组群负责人意见</th>
                    <td colspan='3'>
                        @groupAdminAuditInfo
                    </td>
                </tr>
                if (isShowAuditDirector)
                {
                <tr>
                    <th>技术负责人意见</th>
                    <td colspan='3'>
                        @Html.TextArea("AuditDirectorRemark", Model == null ? "" : Model.AuditDirectorRemark, new { style = "width:96%;height:80px" })
                    </td>
                </tr>
                }
                else 
                {
                    var directorAuditInfo = Model == null ? "" :
                       (Model.Director == null ? "" : Model.Director.UserName)
                       + (Model.AuditDirectorTime.HasValue ? "(" + Model.AuditDirectorTime.Value.ToString("yyyy-MM-dd HH:mm:ss") + ")" : "")
                       + Model.AuditDirectorRemark;
                    <tr>
                    <th>技术负责人意见</th>
                    <td colspan='3'>
                        @directorAuditInfo
                    </td>
                </tr>
                }
                if (isShowAuditOperator)
                {
                    <tr>
                        <th>经办人意见</th>
                        <td colspan='3'>
                            @Html.TextArea("AuditOperatorRemark", Model == null ? "" : Model.AuditOperatorRemark, new { style = "width:96%;height:80px" })
                        </td>
                    </tr>
                    if (Model != null && Model.AuditOperatorTime.HasValue)
                    {
                        <tr>
                            <th>经办人审核时间</th>
                            <td colspan='3'>@Model.AuditOperatorTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        </tr>
                    }
                }
            }
        }
    </table>
  </form>
</div> 


<script type="text/javascript">
    $(function() {
        $("#tdApplyUser ul.token-input-list-facebook").css("width", "305px");
        $("#tdEquipmentGroupId ul.token-input-list-facebook").css("width", "200px");
    });

    function getSelectedMaterialInfosCallBack(selectedMaterialInfoNames, selectedMaterialInfoIds, selectedMaterialInfoJsonArray) {
        //$("#MaterialInfoIds").val('');
        if (selectedMaterialInfoIds != "") {
            var selectedMaterialInfoIdsArray = selectedMaterialInfoIds.split(",");
            var selectedMaterialInfoNamesArray = selectedMaterialInfoNames.split(",");
            if (!selectedMaterialInfoIdsArray || selectedMaterialInfoIdsArray.length == 0 || !selectedMaterialInfoNamesArray || selectedMaterialInfoNamesArray.length == 0) return;
            for (var i = 0; i < selectedMaterialInfoIdsArray.length && i < selectedMaterialInfoNamesArray.length; i++) {
                var materialInfoIds = $("#MaterialInfoIds").val();
                if (materialInfoIds.indexOf(selectedMaterialInfoIdsArray[i]) < 0) {
                    materialInfoIds += (materialInfoIds == "" ? "" : ",") + selectedMaterialInfoIdsArray[i];
                    $("#MaterialInfoIds").val(materialInfoIds);
                    doAddMaterialPurchaseItem(selectedMaterialInfoIdsArray[i]);
                }
            }
        }
    }

    function doSelectMaterialPurchaseMaterialInfo() {
        doSelectMaterialInfoDialog('MaterialInfoIds', { "SelectMaterialInfoMode": '@((int) com.Bynonco.LIMS.Model.Enum.SelectMaterialInfoMode.ManagementMaterialInfo)' });
        return false;
    }
    function doAddMaterialPurchaseItem(materialInfoId) {
        if (!materialInfoId || materialInfoId == "") return;
        if ($("#Id_" + materialInfoId).length > 0) return;
        var dataMaterialPurchase = "";
        if($("#Id").val() != "") dataMaterialPurchase = "&materialPurchase=" + $("#Id").val();
        $.ajax({
            type: "Get",
            url: '@Url.Action("GetViewMaterialPurchaseItem","MaterialPurchase")',
            data: { "materialInfoId": materialInfoId ,"materialPurchaseId": $("#Id").val()},
            success: function (data) {
                $("#tbMaterialPurchaseItemList").append(data);
                return false;
            }
        });
        return false;
    }
    function doRemoveMaterialPurchaseItem(materialInfoId) {
        if (!materialInfoId || materialInfoId == "") return;
        $("#tr_" + materialInfoId).remove();
        var materialInfoIds = $("#MaterialInfoIds").val();
        materialInfoIds = materialInfoIds.replace("," + materialInfoId, "").replace(materialInfoId + ",", "").replace(materialInfoId, ",")
        $("#MaterialInfoIds").val(materialInfoIds);
    }
    function doChangeMaterialPurchaseItemAmount(materialInfoId) {
        if (!materialInfoId || materialInfoId == "") return;
        var unitPrice = $("#UnitPrice_" + materialInfoId);
        var purchaseValue = $("#PurchaseValue_" + materialInfoId);
        var amount = $("#Amount_" + materialInfoId);
        if (unitPrice.length == 0 || purchaseValue.length == 0 || amount.length == 0) return;
        if (unitPrice.val().trim() == "" || purchaseValue.val().trim() == "") return;
        var amountVal = parseFloat(unitPrice.val().trim()) * purchaseValue.val().trim();
        amount.val(amountVal);
    }

    function getSelectedMaterialSuppliersCallBack(selectedMaterialSupplierIds) {
        $("#MaterialSupplierIds").val('');
        if (selectedMaterialSupplierIds != "") {
            var selectedMaterialSupplierIdsArray = selectedMaterialSupplierIds.split(",");
            if (!selectedMaterialSupplierIdsArray || selectedMaterialSupplierIdsArray.length == 0 ) return;
            for (var i = 0; i < selectedMaterialSupplierIdsArray.length; i++) {
                doAddMaterialSupplier(selectedMaterialSupplierIdsArray[i]);
            }
        }
    }
    function doSelectMaterialSupplier(materialInfoId) {
        doSelectMaterialSupplierDialog(materialInfoId);
        return false;
    }
    function doAddMaterialSupplier(materialSupplierId) {
        if (!materialSupplierId || materialSupplierId == "") return;
        $.ajax({
            type: "Get",
            url: '@Url.Action("GetViewMaterialSupplier","MaterialInfo")',
            data: { "materialSupplierId": materialSupplierId },
            dataType: 'json',
            success: function (data) {
                if (data) {
                    var materialInfoId = data.MaterialInfoId;
                    var supplierName = data.SupplierName;
                    var unitPrice = data.UnitPrice;
                    var supplierPhone = data.SupplierPhone;
                    if ($("#SupplierName_" + materialInfoId).length > 0) { $("#SupplierName_" + materialInfoId).val(supplierName); }
                    if ($("#UnitPrice_" + materialInfoId).length > 0) {
                        $("#UnitPrice_" + materialInfoId).val(unitPrice);
                        doChangeMaterialPurchaseItemAmount(materialInfoId)
                    }
                    if ($("#SupplierPhone_" + materialInfoId).length > 0) {
                        $("#SupplierPhone_" + materialInfoId).val(supplierPhone);
                    }
                }
                return false;
            }
        });
        return false;
    }
</script>