@using com.Bynonco.JqueryEasyUI.Core;
<div id="divMaterialInfoDialog" style="display:none"></div>
<div id="divMaterialInfoLogDialog" style="display:none"></div>
<script type="text/javascript">
    function doMaterialInfoSearch() {
        var queryExpression = generateMaterialInfoQueryExpress();
        $("#tbMaterialInfoList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbMaterialInfoList").datagrid("load", { "queryExpression": queryExpression.trim()});
        return false;
    }
    var materialInfoDialog;
    function doMaterialInfoDialog() {
        if (materialInfoDialog) {
            materialInfoDialog.dialog("destroy");
        }
        materialInfoDialog =  @Html.JDialog("divMaterialInfoEdit").SetTitle("耗材信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("materialInfoDialog.dialog('close');return false;").SetModal(true).SetOkScript("doSaveMaterialInfo();").ToMvcString();
    }
    function doAddOrEditMaterialInfo(id){
         $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        var url = '@Url.Action("Edit","MaterialInfo")'+ "?id=" + id + "&date=" + new Date().getMilliseconds();
        $("#divMaterialInfoDialog").load(url,function(){
            doMaterialInfoDialog();
            $.messager.progress('close');
        })
        return false;
    }
    function doAddMaterialInfo(id) {
       doAddOrEditMaterialInfo(id);
    }
    function doEditMaterialInfo(id) {
       if(!id || id.trim()==""){
           var selectedMaterialInfo = $("#tbMaterialInfoList").datagrid("getSelected");
           if(!selectedMaterialInfo || selectedMaterialInfo.Id=="" || selectedMaterialInfo.Id.isDefaultGuid()) {
              $.messager.show({ title: '提示', msg:"请选择耗材", showType: 'show' });
              return false;
           }
           id = selectedMaterialInfo.Id;
       }
       doAddOrEditMaterialInfo(id);
    }
    function doSaveMaterialInfo(){
        if($("#Name").val().trim() == ""){
          $.messager.show({ title: '提示', msg:"名称为空", showType: 'show' });;
          return false;
        }
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        var unitText = $("#Unit").combobox("getText");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Save","MaterialInfo")' +  "?date=" + new Date().getMilliseconds(),
            data: $("#frmMaterialInfoEdit").serialize() + "&UnitText=" + unitText,
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                    $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                    return false;
                }
                materialInfoDialog.dialog('close');
                doMaterialInfoSearch();
            }
        });
   }
   function doDeleteMaterialInfo(id){
        if(!id || id.trim() == ""){
              var selectedMaterialInfo = $("#tbMaterialInfoList").datagrid("getSelected");
                if(!selectedMaterialInfo || selectedMaterialInfo.Id.trim() == "" || selectedMaterialInfo.Id.isDefaultGuid()){
                    $.messager.show({ title: '提示', msg:"请选择要删除的项", showType: 'show' });
                    return false;
                }
                id = selectedMaterialInfo.Id;
         }
        $.messager.confirm('提示', '确认删除?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "MaterialInfo")'+ "?date=" + new Date().getMilliseconds(),
                data: "id=" + id ,
                success: function (msg) {
                    $.messager.progress('close');
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                        return false;
                    }
                    doMaterialInfoSearch();
                }
            });
        });
        return false;
   }

   function ajaxFileUploadMaterialInfoLogo() {
        var file = $("#fileMaterialInfoLogo").val();
        if (!doValidatesMaterialInfoLogo(file)) return false;
        $("#fileMaterialInfoLogo").ajaxStart(function () {
            $.messager.progress({ title: '提示', msg: '正在上传附件,请稍候……' });
        });
        $.ajaxFileUpload({
            url: '@Url.Action("UploadMaterialInfoLogo", "MaterialInfo")' + "?date=" + new Date().getMilliseconds(),
            secureuri: false,
            fileElementId: 'fileMaterialInfoLogo',
            dataType: 'json',
            success: function (data, status) {
                $.messager.progress('close');
                if (data.filePath) {
                    $("#RelativePic").val(data.filePath);
                    var src = data.filePath + "?date=" + new Date().getMilliseconds();
                    $("#imgMaterialInfoLogo").attr("src", src);
                }
                else if (data && (data.indexOf("出错") != -1)) {
                    $("#imgMaterialInfoLogo").attr("src", "");
                    $("#RelativePic").val("");
                    $.messager.show({ title: '提示', msg: data, showType: 'show' });
                    return false;
                }
            },
            error: function (data, status, e){
                $.messager.show({ title: '提示', msg: "添加失败", showType: 'show' });
            }
        });
        return false;
    }
    function doValidatesMaterialInfoLogo(file) {
        if (file == "") {
            $.messager.show({ title: '提示', msg: "请选择要上传的文件", showType: 'show' });
            return false;
        }
        return true;
    }

    var materialInfoLogDialog;
    function doMaterialInfoLogDialog() {
        if (materialInfoLogDialog) {
            materialInfoLogDialog.dialog("destroy");
        }
        materialInfoLogDialog =  @Html.JDialog("divViewMaterialInfoLog").SetTitle("耗材日志信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("materialInfoLogDialog.dialog('close');return false;").SetModal(true).SetOkScript("doSaveMaterialInfoLog();").ToMvcString();
    }
    function doViewMaterialInfoLog(id) {
       if(!id || id.trim()==""){
           var selectedMaterialInfoLog = $("#tbMaterialInfoLogList").datagrid("getSelected");
           if(!selectedMaterialInfoLog || selectedMaterialInfoLog.Id=="" || selectedMaterialInfoLog.Id.isDefaultGuid()) {
              $.messager.show({ title: '提示', msg:"请选择耗材", showType: 'show' });
              return false;
           }
           id = selectedMaterialInfoLog.Id;
       }
       $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        var url = '@Url.Action("MaterialInfoLog","MaterialInfo")'+ "?id=" + id + "&date=" + new Date().getMilliseconds();
        $("#divMaterialInfoLogDialog").load(url,function(){
            doMaterialInfoLogDialog();
            $.messager.progress('close');
        })
        return false;
    }
</script>