@using com.Bynonco.JqueryEasyUI.Core; 
@{
    Layout = ViewBag.Layout;
}
<div class="z-panel-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../Appointment/ExportDetailFilter")
    </div>
</div>
 <div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../Appointment/AppointmentStatisticSearch")
    </div>
</div>
<div>@Html.Partial("AppointmentStatistics")</div>
<div style="clear:both"></div>
<div>@Html.Partial("AppointmentStatisticList")</div>
<div id="divAppointmentSearchDialog" style="display:none"></div>
<div id="divAddAppointmentDialog" style="display:none"></div>
<script type="text/javascript">
    function doAppointmentStatisticsSearch(){
         var newQueryExpression = generateAppointmentStatisticsQueryExpression();
         $("#tbEquipmentAppointmentTotalList").datagrid('loadData', { total: 0, rows: [] });
         $("#tbEquipmentAppointmentTotalList").datagrid("load", { "queryExpression": newQueryExpression.trim() });
    }
    function doSearchAppointmentByTotalType(equipmentId, totalType) {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $("#divAppointmentSearchDialog").load('@Url.Action("AppointmentSearchContainer", "Appointment")', { "equipmentId": equipmentId, "totalType": totalType }, function () {
            $.messager.progress('close');
            doShowAppointmentSearchDialog();
        });
    }
    var addAppointmentDialog;
    function doAddAppointment() {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $("#divAddAppointmentDialog").load('@Url.Action("AddAppointment","Appointment")', function () {
            if (addAppointmentDialog) {
                addAppointmentDialog.dialog("destroy");
            }
            $.messager.progress('close');
            addAppointmentDialog = @Html.JDialog("divAddAppointment").SetTitle("新增设备预约").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("addAppointmentDialog.dialog('close');return false;").SetModal(true).SetOkScript("doRedirectToAppointment();return false;").ToMvcString();
        });
    }
    function doExportExcelTotal() {
        var newQueryExpression = generateAppointmentStatisticsQueryExpression();
        var url = '@Url.Action("ExportExcelTotal", "Appointment")' + "?queryExpression=" + newQueryExpression.trim() + "&time=" + new Date().getMilliseconds();
        window.open(url, '_blank');
    }

    function doShowExportDetailFilter() {
        var jqObj = $("#btnExportExcelDetail");
        var offset = jqObj.offset();
        var right = offset.left + jqObj.width();
        var down = offset.top + jqObj.height();
        $(".z-panel-grid").removeClass("hide");
        if (jqObj.parents(".dialog-content").length > 0) {
            $(".z-panel-grid").css("left", "10px");
            $(".z-panel-grid").css("top", "55px");
        }
        else {
            $(".z-panel-grid").css("left", offset.left);
            $(".z-panel-grid").css("top", down);
        }
    }
    function doCloseExport() {
        $(".z-panel-grid").addClass("hide");
        return false;
    }
    function doExportExcelDetail() {
        var queryUrl = "";
        var beginTimeStart = $("#ExportBeginTimeStart").datebox("getValue").trim();
        if (beginTimeStart != "") {
            queryUrl += (queryUrl == "" ? "?" : "&") + "BeginTimeStart=" + beginTimeStart;
        }
        var beginTimeEnd = $("#ExportBeginTimeEnd").datebox("getValue").trim();
        if (beginTimeEnd != "") {
            queryUrl += (queryUrl == "" ? "?" : "&") + "BeginTimeEnd=" + beginTimeEnd;
        }
        var appointmentStatusList = [];
        var appointmentStatusSelects = $("#ExportAppointmentStatus").combobox("getValues");
        if (appointmentStatusSelects && appointmentStatusSelects.length > 0) {
            for (var i = 0; i < appointmentStatusSelects.length; i++) {
                appointmentStatusList.push(appointmentStatusSelects[i]);
            }
        }
        if (appointmentStatusList != null) {
            queryUrl += (queryUrl == "" ? "?" : "&") + "StatusList=" + appointmentStatusList;
        }
        var exportType = $("#ExportType").combobox("getValue").trim();
        if (exportType != "") {
            queryUrl += (queryUrl == "" ? "?" : "&") + "ExportType=" + exportType;
        }
        var equipmentIdList = generateSelectedEquipmentIds();
        if(equipmentIdList == null || equipmentIdList == "")
        {
            $.messager.show({ title: '提示', msg: "请选择要导出的设备", showType: 'show' });
            return false;
        }
        else{
            queryUrl += (queryUrl == "" ? "?" : "&") + "EquipmentIdList=" + equipmentIdList;
        }
        var url = '@Url.Action("ExportExcelDetail","Appointment")' + queryUrl;
        window.open(url, '_blank');
    }

     function generateSelectedEquipmentIds() {
        var ids = [];
        var rows = $("#tbEquipmentAppointmentTotalList").datagrid("getSelections");
        if (rows && rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].EquipmentId);
            }
        }
        return ids;
    }
</script>
