@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    ViewBag.Title = "找回密码 - 密码管理";
    var isFindPasswordOK = ViewData["IsFindPasswordOK"] == null ? false : bool.Parse(ViewData["IsFindPasswordOK"].ToString());
    var errorMessage = ViewData["ErrorMessage"] == null ? "" : ViewData["ErrorMessage"].ToString().Trim() ;
    if (!isFindPasswordOK && string.IsNullOrWhiteSpace(errorMessage)) { errorMessage = "出错,无效链接"; }
    errorMessage = errorMessage.Replace("出错,", "");
}
@section ImportCssAndJs
{
<style type="text/css">
.findPassword-box 
{
    font-size:16px;
    margin-left:160px;
    margin-top:50px;
    padding: 10px;
    width: 300px;
}
</style>
<script type="text/javascript">
    var cnt = 10;
    function findPasswordComplete() {
        if (cnt == 0) {
            location.href = '@(Url.Action("Index", "Home"))';
        }
        else if (cnt > 0) {
            $("#spTime").html(cnt);
        }
        cnt--;
        setTimeout("findPasswordComplete()", 1000);
    }
    $(function () {
        findPasswordComplete();
    });
</script>
}
@section MainLeft
{
    <h2 class="title">重置密码 - 密码管理</h2>
    <div class="content-box register-box" style='padding:15px 50px;'>
        <div class="findPassword-box">
            @if(isFindPasswordOK)
            {
                <p><img src='@Url.Content("~/Content/images/edit-ok.ico")' /><span style='margin-left:10px;'>找回密码成功!</span></p>
            }
            else
            {
                <p><img src='@Url.Content("~/Content/images/edit-error.ico")' /><span style='margin-left:10px;'>找回密码失败!</span></p>
            }
            
            <p>系统将于 <span id='spTime' style='color:Red;font-weight:bold;'>10</span> 后跳转到首页.</p>
            <p>您也可以<a href='@Url.Action("Index","Home")' style='margin:0 5px; text-decoration:underline;'>点击此处</a>立即跳转到首页.</p>
            @if(!isFindPasswordOK)
            {
                <div id="errorUserInfoComplete" class="notification error">
	                <div>原因：@errorMessage</div>
                </div>
            }
        </div>
    </div>
}
@section MainRight
{
    <div>
        <h2 class="title">注册登录</h2>
        <div class="content-box" style="text-align:center;height:300px;">
            <a href="@Url.Action("Register", "Account")" class="botton">
                <span>
                    <span>快速注册</span>
                </span>
            </a>
            <br />
            <a href="@Url.Action("Index","Home")" class="botton">
                <span>
                    <span>立即登录</span>
                </span>
            </a>
        </div>
    </div>
}