@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    ViewBag.Title = "找回密码 - 密码管理";
}
@section MainLeft
{
    <h2 class="title">找回密码 - 密码管理</h2>
    <div class="content-box register-box" style='padding:15px 50px;'>
        @Html.Partial("../Account/ForgetPasswordBasic")
        @Html.Partial("../Account/ForgetPasswordOperate")
        @Html.Partial("../Account/ForgetPasswordScriptContainer")
    </div>
}
@section MainRight
{
    <div>
        <h2 class="title">注册登录</h2>
        <div class="content-box" style="text-align:center;height:300px;">
            <a href="@Url.Action("Register","Account")" class="botton">
                <span>
                    <span>快速注册</span>
                </span>
            </a>
            <br />
            <a href="@Url.Action("Index","Home")" class="botton">
                <span>
                    <span>立即登录</span>
                </span>
            </a>
        </div>
    </div>
}