@model com.Bynonco.LIMS.Model.User
@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-full">
    <div class="edit-box">
    <form id="frmLoginUserEdit" action="#">
        <p><span class="icon icon-userlogin"></span>修改密码</p>
        <table class="edit-info">
            <tr>
                <th>账号</th>
                <td>
                    @(Model == null ? "" : Model.Label)
                </td>
            </tr>
            <tr>
                <th>旧密码</th>
                <td>
                    @Html.JValidateBox("OldLoginPassword").SetWidth(250).SetPasswordMode(true).SetRequired(true).SetOnChange("doCheckOldPassword()").ToMvcString()
                    <img class="hide" src="/JqueryPlugin/JqueryEasyUI/themes/gray/images/tree_loading.gif" id="imgOldPWChecking"/>
                    <img class="hide" src="/JqueryPlugin/JqueryEasyUI/themes/icons/icon-delete.png" id="imgOldPWCheckedError"/>
                    <img class='hide' src="/JqueryPlugin/JqueryEasyUI/themes/icons/icon-ok.png" id="imgOldPWCheckedOK"/>
                    <span id="lbOldPWCheck" class="required hide">密码错误</span>
                </td>
            </tr>
            <tr>
                <th>新密码</th>
                <td>
                    @Html.JValidateBox("NewLoginPassword").SetWidth(250).SetPasswordMode(true).SetOnChange("doComparePassord()").SetValidateType(ValidateType.minLength).AddParam("6").ToMvcString()
                    <img class="hide" src="/JqueryPlugin/JqueryEasyUI/themes/icons/icon-delete.png" id="imgNewPWCheckedError"/>
                    <img class='hide' src="/JqueryPlugin/JqueryEasyUI/themes/icons/icon-ok.png" id="imgNewPWCheckedOK"/>
                </td>
            </tr>
            <tr>
                <th>确认密码</th>
                <td>
                    @Html.JValidateBox("ConfirmPassword").SetWidth(250).SetPasswordMode(true).SetOnChange("doComparePassord()").SetValidateType(ValidateType.minLength).AddParam("6").ToMvcString()
                    <img class="hide" src="/JqueryPlugin/JqueryEasyUI/themes/icons/icon-delete.png" id="imgConfirmPWCheckedError"/>
                    <img class='hide' src="/JqueryPlugin/JqueryEasyUI/themes/icons/icon-ok.png" id="imgConfirmPWCheckedOK"/>
                    <span id="lbConfirmPWCheck" class="required hide">密码不一致</span>
                </td>
            </tr>
        </table>
         <div class="edit-operate" style="margin-left:50px;">
            @Html.JLinkButton("btnSavePassword", "保存").SetIconCls("icon-save").SetPlain(true).SetOnclick("doSavePassword();return false;").ToMvcString()
        </div>
    </form>
    </div>
</div>
<script type="text/javascript">
    function doCheckOldPassword() {
        var isOk = false;
        $("#imgOldPWChecking").addClass("hide");
        $("#imgOldPWCheckedError").addClass("hide");
        $("#imgOldPWCheckedOK").addClass("hide");
        $("#lbOldPWCheck").addClass("hide");
        if ($("#OldLoginPassword").val() != "" && $("#OldLoginPassword").validatebox("isValid")) {
            $("#imgOldPWChecking").removeClass("hide");
            var oldLoginPassword = $("#OldLoginPassword").val();
            var urlCheckOldPassword = '@Url.Action("CheckOldPassword", "Account")';
            $.post(urlCheckOldPassword, { id: "", OldPassword: oldLoginPassword }, function (data) {
                $("#imgOldPWChecking").addClass("hide");
                if (data == null) return;
                else if (data == "False" || data == "false") {
                    $("#imgOldPWCheckedError").removeClass("hide");
                    $("#lbOldPWCheck").removeClass("hide");
                }
                else {
                    $("#imgOldPWCheckedOK").removeClass("hide");
                    isOk = true;
                }
            });
        }
        return isOk;
    }
    function doComparePassord() {
        var isOk = false;
        $("#imgNewPWCheckedError").addClass("hide");
        $("#imgNewPWCheckedOK").addClass("hide");
        $("#imgConfirmPWCheckedError").addClass("hide");
        $("#imgConfirmPWCheckedOK").addClass("hide");
        $("#lbConfirmPWCheck").addClass("hide");
        if ($("#NewLoginPassword").val().trim() != "" && $("#NewLoginPassword").validatebox("isValid")) {
            $("#imgNewPWCheckedOK").removeClass("hide");
            if ($("#ConfirmPassword").val().trim() != "" && $("#ConfirmPassword").validatebox("isValid")) {
                if ($("#ConfirmPassword").val().trim() == $("#NewLoginPassword").val().trim()){
                    $("#imgConfirmPWCheckedOK").removeClass("hide");
                    isOk = true;
                }
                else {
                    $("#imgConfirmPWCheckedError").removeClass("hide");
                    $("#lbConfirmPWCheck").removeClass("hide");
                }
            }
        }
        return isOk;
    }
    function checkPasswordInfo() {
        if ($("#OldLoginPassword").val().trim() == "" || !$("#OldLoginPassword").validatebox("isValid") || !doComparePassord()) {
            $.messager.show({ title: '提示', msg: "信息有误,请核查后提交", showType: 'show' });
            return false;
        }
        else
            return true;
    }
    function doSavePassword() {
        if (!checkPasswordInfo()) return false;
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SavePassword", "Account")',
            data: $("#frmLoginUserEdit").serialize() + "&date=" + new Date().getMilliseconds(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && (msg.indexOf("出错") != -1)) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                $.messager.show({ title: '提示', msg: msg, showType: 'show' });
            }
        });
        return false;
    }

</script>