@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model.Enum;
@using com.Bynonco.LIMS.BLL.Business.Customer.Factory;
@{
    var isCasLoginMode = Convert.ToBoolean(ViewData["IsCasLoginMode"]);
    var isSchoolInnerOrOuterLoginMode = Convert.ToBoolean(ViewData["IsSchoolInnerOrOuterLoginMode"]);
    var loginJumpTypeHref = ViewData["LoginJumpTypeHref"] == null ? "" : ViewData["LoginJumpTypeHref"].ToString().Trim();
    var customer = CustomerFactory.GetCustomer();
    var customerIsShowRememberMe = customer == null ? true : customer.GetIsLoginShowRememberMe();
    var casLoginMode = ViewData["CasLoginMode"] != null ? (com.Bynonco.LIMS.Utility.CasLoginMode)ViewData["CasLoginMode"] : com.Bynonco.LIMS.Utility.CasLoginMode.ShowLocalLogin;
}
@Html.Partial("../Account/CasLogScriptContainer")
<div id="divShowMessageDialog"></div>
<div class='' style='position: relative; margin-right: 5px;'>
    <span class='Top-Login-Button' style='border-right: 1px solid #FFFFFF; display: block; float: left; line-height: 25px; padding: 0 8px;'>
        <a id='lnkPopLogin' href="#"  style='color: #fff; font-weight: bold;'>登&nbsp;录</a>
    </span>

    <span class='Top-Login-Button' style='display: block; float: left; line-height: 25px; padding: 0 8px;'>
        <a href="@Url.Action("Register", "Account")" style='color:#fff;font-weight:bold;'>注&nbsp;册</a>
    </span>
    <div class='clear-both'></div>
    <div id="divTopLogin" class='pop-login-box hide' style='@(!isCasLoginMode ? "" : "display:none")'>
        <form id="frmTopLogin" action="#">
            <ul>
                <li id="liTip" style='width:252px;@(isSchoolInnerOrOuterLoginMode ? "" : "display:none")'>
                    <span id="spanTip" style='color: #666;'>校内用户请使用公共数据库帐号和密码进行登录</span>
                </li>
                <li id="liLoginType" style='@(isSchoolInnerOrOuterLoginMode ? "" : "display:none"); margin-right:5px;'>
                    @Html.JComboBox("LoginType").SetData(ViewData["LoginTypeJson"]).SetWidth(252).SetHeight(30).ToMvcString()
                </li>
                <li>
                    @Html.JValidateBox("LoginName").SetWidth(225).SetHeight(30).AddClass("toptext").AddClass("top-loginname").ToMvcString()</li>
                <li>
                    @Html.JValidateBox("LoginPassword").SetWidth(225).SetHeight(30).AddClass("toptext").AddClass("top-loginpassword").SetPasswordMode(true).ToMvcString()</li>
                <li class='@(customerIsShowRememberMe ? "" : "hide")'>
                    @Html.CheckBox("IsRememberMe")<label for='IsRememberMe'>记住密码</label>
                    &nbsp; &nbsp;<a href='@Url.Action("ForgetPassword", "Account")' style='float: right; padding-right: 15px; text-decoration: underline;'>忘记密码?</a>
                </li>
                <li style="margin: 0px; padding: 0px; width: 252px; height: 42px; line-height: 42px;" class='top-button'>
                    <a title="登录" onclick='doTopLoginBeforeSubmit();return false;' href="javascript:void(0)">&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;</a>
                </li>
                <li style="margin:5px 0 0;padding:0px;width:252px;height:42px;line-height:42px;@(isCasLoginMode ? "" : "display:none")" class='top-button innerlogin'>
                    <a title="校内用户登录" style="background:#D95457"  href="@(ViewData["CasVisitedURL"] != null ? ViewData["CasVisitedURL"].ToString() : "#")">校内用户登录</a>
                </li>
            </ul>

        </form>
    </div>
    <div id="divCasLogin" class='pop-login-box hide' style='@(isCasLoginMode ? "" : "display:none")'>
        <ul>
            <li style="margin: 5px 0 0; padding: 0px;" class='top-button'>
                <a title="校内用户单点登录" style="display: block; width: 146px; background: #D95457; height: 42px; line-height: 42px;" onclick="showLocalLoginWhenCasServerDown('lnkTopLocalLogin');">校内用户单点登录</a>
            </li>
            @if (casLoginMode != com.Bynonco.LIMS.Utility.CasLoginMode.HideLocalLogin)
            {
                <li style="margin: 5px 0 0; padding: 0px;" class='top-button'>
                    @if (casLoginMode == com.Bynonco.LIMS.Utility.CasLoginMode.ShowLocalLogin)
                    {
                        <a title="本地/校外用户登录" style="display: block; width: 146px; background: #464646; height: 42px; line-height: 42px;" onclick="showTopOuterLogin();" href="javascript:void(0)">本地/校外用户登录</a>
                    }
                    @if (casLoginMode == com.Bynonco.LIMS.Utility.CasLoginMode.ShowLocalLoginWhenCasServerDown)
                    {
                        <a id="lnkTopLocalLogin" title="本地/校外用户登录" style="display: none; width: 146px; background: #464646; height: 42px; line-height: 42px;" onclick="showTopOuterLogin();" href="javascript:void(0)">本地/校外用户登录</a>
                    }
                    @if (casLoginMode == com.Bynonco.LIMS.Utility.CasLoginMode.ShowOuterLogin)
                    {
                        <a id="lnkTopHomeOutLogin" title="校外用户登录" style="display: block; width: 146px; background: #464646; height: 42px; line-height: 42px;" onclick="showTopOuterLogin(true);" href="javascript:void(0)">校外用户登录</a>
                    }
                </li>
            }
        </ul>
    </div>
</div>
<script type="text/javascript">
    function showTopOuterLogin(isLocalOuterLogin) {
        $("#isLocalOuterLogin").val(isLocalOuterLogin ? "true" : "false");
        $("#divCasLogin").css("display", "none");
        $("#divTopLogin").css("display", "");
        $("#liTip").css("display", "");
        $("#spanTip").html("<b>本地/校外用户登录</b>-请用本地用户名密码登录");
        backToLogin();
    }
</script>
<script type="text/javascript">
    var isSchoolInnerOrOuterLoginMode = '@(isSchoolInnerOrOuterLoginMode.ToString().ToLower())' == "true";
    var isCasLoginMode = '@(isCasLoginMode.ToString().ToLower())' == "true";
    function isVirtualKeyboardInputMode() {
        return keyBoard && keyBoard.oPopUp && keyBoard.oPopUp.layer && keyBoard.oPopUp.layer.style.display == "block";
    }
    $(function () {
        doIniLoginForm();
        $("#frmTopLogin").find("#LoginName").attr("placeholder", "登录账号");
        $("#frmTopLogin").find("#LoginPassword").attr("placeholder", "登录密码");
        $("#liLoginType span.combo").height(30);
        $("#liLoginType span.combo input.combo-text").height(30);

        $("#lnkPopLogin").mouseover(function () {
            $(".pop-login-box").removeClass("hide");
        });
        $('#lnkPopLogin').on('click', function () {
            backToLogin();
            return false;
        });


        $(document).click(function (e) {
            var drag = $(".pop-login-box"),
            dragel = $(".pop-login-box")[0],
            comdrap = $(".combo-p"),
            comdrapel = $(".combo-p")[0],
            target = e.target;
            if (dragel !== target && !$.contains(dragel, target) && comdrapel !== target && !$.contains(comdrapel, target) && !isVirtualKeyboardInputMode()) {
                $(".pop-login-box").addClass("hide");
            }
            try {
                var dragAccount = $(".pop-account-box"),
            dragelAccount = $(".pop-account-box")[0],
            targetAccount = e.target;
                if (dragelAccount !== targetAccount && !$.contains(dragelAccount, target)) {
                    $(".pop-account-box").addClass("hide");
                }
            }
            catch (e) { }
        });
    });

    function doIniLoginForm() {
        $("#frmTopLogin").find("#LoginPassword").keypress(function (e) {
            if (e.keyCode == 13) {
                doTopLoginSubmit();
            }
        });
    }
    function doTopLoginSubmit() {
        var isLocalOuterLogin = $("#isLocalOuterLogin").length > 0 ? $("#isLocalOuterLogin").val() : "";
        if (isLocalOuterLogin == undefined) isLocalOuterLogin = "false";
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoginSubmit", "Account")',
            data: $("#frmTopLogin").serialize() + "&date=" + new Date() + "&isLocalOuterLogin=" + isLocalOuterLogin,
            success: function (data) {
                $("#frmTopLogin").find("#imgLoading").addClass("hide");
                try {
                    if (data && data.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: data, showType: 'show' });
                        return false;
                    }
                }
                catch (e) { }
                var topReturnUrl = $("#TopReturnUrl");
                if (topReturnUrl.length > 0) {
                    var fName = topReturnUrl.attr("fName");
                    var equipmentid = topReturnUrl.attr("equipmentid");
                    var equipmentname = topReturnUrl.attr("equipmentname");
                    if (fName && equipmentid && equipmentname) {
                        if (fName == "doAppointment") {
                            doAppointment(equipmentid, equipmentname);
                            return false;
                        }
                        else if (fName == "doSampleApply") {
                            doSampleApply(equipmentid, equipmentname);
                            return false;
                        }
                    }
                }
                if ('@loginJumpTypeHref' == "") {
                    location.reload();
                }
                else {
                    window.location.href = '@loginJumpTypeHref'
                }
                return false;
            }
        });
    }
    function doTopLoginBeforeSubmit() {
        var isOk = true;
        var errorMsg = "";
        if (isCasLoginMode) {
            $("#LoginType").combobox("setValue", '@((int)LoginType.Outer)');
        }
        var loginType = $("#LoginType").combobox("getValue");
        if (isSchoolInnerOrOuterLoginMode) {
            if (!loginType || loginType.trim() == "") {
                errorMsg = "请选择登录类型";
                isOk = false;
            }
        }
        if (isOk && $("#frmTopLogin").find("#LoginName").val().trim() == "") {
            errorMsg = "请输入用户名"
            isOk = false;
        }
        if (isOk && $("#frmTopLogin").find("#LoginPassword").val().trim() == "") {
            errorMsg = "请输入密码"
            isOk = false;
        }
        if (!isOk) {
            $.messager.show({ title: '提示', msg: errorMsg, showType: 'show' });
            return false;
        }
        else {
            $("#frmTopLogin").find("#imgLoading").removeClass("hide");
            if (isSchoolInnerOrOuterLoginMode && loginType == "1") {
                var username = $("#frmTopLogin").find("#LoginName").val();
                var password = $("#frmTopLogin").find("#LoginPassword").val();
                var s = document.createElement("SCRIPT");
                s.src = "http://applicationjw.ecnu.edu.cn/axis2/UserCheck?username="
                            + username + "&password=" + password;
                document.body.appendChild(s);
            }
            else {
                doTopLoginSubmit();
            }
            return false;
        }
    }
    function funFaile() {
        $("#frmLogin").find("#imgLoading").addClass("hide");
        $.messager.show({ title: '提示', msg: "公共数据库验证密码失败, 请确认您的用户名和密码.", showType: 'show' });
    }
    function funTrue() {
        if ($("#frmLogin").find("#LoginName").length > 0 && $("#frmLogin").find("#LoginName").val() != "") {
            doLoginSubmit();
        }
        else {
            doTopLoginSubmit();
        }
    }
    $(function () {
        $("#liLoginType input.combo-text").css("width", "232px");
    });
</script>
