@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model.Enum;
@using com.Bynonco.LIMS.BLL.Business.Customer.Factory;
@{
    var isCasLoginMode = Convert.ToBoolean(ViewData["IsCasLoginMode"]);
    var isSchoolInnerOrOuterLoginMode = Convert.ToBoolean(ViewData["IsSchoolInnerOrOuterLoginMode"]);    
    var loginJumpTypeHref = ViewData["LoginJumpTypeHref"] == null ? "" : ViewData["LoginJumpTypeHref"].ToString().Trim();
    var customer = CustomerFactory.GetCustomer();
    var customerIsShowRememberMe = customer == null ? true : customer.GetIsLoginShowRememberMe();
 }
<div class='' style='position:relative;margin-right:5px;'>
    <span class='Top-Login-Button' style='border-right: 1px solid #FFFFFF;display: block;float: left;line-height: 25px;padding: 0 8px;'>
        <a id='lnkPopLogin' href="#" onclick='backToLogin();return false;' style='color:#fff;font-weight:bold;'>登&nbsp;录</a>
    </span>
    <span class='Top-Login-Button' style='display: block;float: left;line-height: 25px;padding: 0 8px;'>
        <a href="@Url.Action("Register", "Account")" style='color:#fff;font-weight:bold;'>注&nbsp;册</a>
    </span>
    <div class='clear-both'></div>
    <div id="divTopLogin" class='pop-login-box-zjdx hide' >
        <form id="frmTopLogin" action="#"  style="height: 118px;">
            <ul>
                <li id="liTip" style='width:252px;display:none'>
                    <span id="spanTip" style='color:#666;'>校外用户请使用公共数据库帐号和密码进行登录</span>
                </li>
                <li id="liLoginType" style='display:none; margin-right:5px;'>
                    @Html.JComboBox("ZjdxLoginType").SetData(ViewData["ZjdxLoginTypeJson"]).SetWidth(252).SetHeight(30).ToMvcString()
                </li>
                <li>
                   &nbsp;&nbsp;用户名&nbsp;:&nbsp;@Html.JValidateBox("ZjdxLoginName").SetWidth(160).SetHeight(20).AddClass("top-loginname-zjdx").ToMvcString()</li>
                <li>
                   &nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码&nbsp;:&nbsp;@Html.JValidateBox("ZjdxLoginPassword").SetWidth(160).SetHeight(20).AddClass("top-loginpassword-zjdx").SetPasswordMode(true).ToMvcString()</li>
                <li class='@(customerIsShowRememberMe ? "" : "hide")' style=" display:none">
                    @Html.CheckBox("IsRememberMe")<label for='IsRememberMe'>记住密码</label>
                    &nbsp; &nbsp;<a href='@Url.Action("ForgetPassword", "Account")' style='float: right; padding-right: 15px; text-decoration: underline;'>忘记密码?</a>
                </li>
                <li class='top-button-zjdx'>
                    <a title="帐号登录" style=' background: url("../../Content/Home/images/bg_01.gif") no-repeat scroll 0 0 transparent;color: #FFFFFF;display: block;float: left;height: 19px;line-height: 19px;margin-right: 10px;padding-left: 4px;width: 52px;' onclick="doZjdxLoginBeforeSubmit();return false;" href="javascript:void(0)">帐号登录</a>
                    <a title="登录须知" style=' background: url("../../Content/Home/images/bg_01.gif") no-repeat scroll 0 0 transparent;display: block;float: left;height: 19px;line-height: 19px;margin-right: 10px;padding-left: 4px;width: 52px;' onclick="showWhatMustKnowBeforeLogin();return false;" href="javascript:void(0)">登录须知</a>
                    <div class='clear-both'></div>
                </li>
               @* <li style="margin:5px 0 0;padding:0px;width:252px;height:42px;line-height:42px;" class='top-button'>
                    <a title="校外登录" style="background:#D95457" href="#" onclick="toLimsLogin()" >校外登录</a>
                </li>*@
            </ul>
        </form>
        <a title="校外登录" onclick="toLimsLogin();return false;" href="javascript:void(0)" style='float: right;'><span style="color:blue; ">校外登录</span></a>
    </div> 
    <div id="divLimsLogin" class='pop-login-box hide'>
        <form id="frmLimsTopLogin" action="#">
            <ul>
                <li id="liTip" style='width:252px;display:block'>
                    <span id="spanTip" style='color:#666;'></span>
                </li>
                <li id="liLoginType" style='display:none; margin-right:5px;'>
                    @Html.JComboBox("LoginType").SetData(ViewData["LoginTypeJson"]).SetWidth(252).SetHeight(30).ToMvcString()
                </li>
                <li>
                    @Html.JValidateBox("LoginName").SetWidth(225).SetHeight(30).AddClass("toptext").AddClass("top-loginname").ToMvcString()</li>
                <li>
                    @Html.JValidateBox("LoginPassword").SetWidth(225).SetHeight(30).AddClass("toptext").AddClass("top-loginpassword").SetPasswordMode(true).ToMvcString()</li>
                <li class='hide'>
                    @Html.CheckBox("IsRememberMe")<label for='IsRememberMe'>记住密码</label>
                    &nbsp; &nbsp;<a href='@Url.Action("ForgetPassword", "Account")' style='float: right; padding-right: 15px; text-decoration: underline;'>忘记密码?</a>
                </li>
                <li style="margin:0px;padding:0px;width:252px;height:42px;line-height:42px;" class='top-button'>
                    <a title="登录" onclick="doTopLoginBeforeSubmit();return false;" href="javascript:void(0)">&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;</a>
                </li>
                <li style="margin:5px 0 0;padding:0px;width:252px;height:42px;line-height:42px;" class='top-button'>
                    <a title="统一认证登录" style="background:#D95457" href="#" onclick="toZjdxLogin()" >统一认证登录</a>
                </li>
            </ul>
            
        </form>
	</div>
</div>
<script type="text/javascript" charset="gb2312" src="http://zuinfo.zju.edu.cn/know/showWhatMustKnowBeforeLogin.js"></script>
<script type="text/javascript">
    function showTopOuterLogin() {
        $("#divCasLogin").css("display", "none");
        $("#divTopLogin").css("display", "");
        $("#liTip").css("display", "");
        $("#spanTip").html("<b>本地/校外用户登录</b>-请用本地用户名密码登录");
        backToLogin();
    }   
</script>
<script type="text/javascript">
    var isSchoolInnerOrOuterLoginMode = '@(isSchoolInnerOrOuterLoginMode.ToString().ToLower())' == "true";
    var isCasLoginMode = '@(isCasLoginMode.ToString().ToLower())' == "true";
    function isVirtualKeyboardInputMode() {
        return keyBoard && keyBoard.oPopUp && keyBoard.oPopUp.layer && keyBoard.oPopUp.layer.style.display == "block";
    }
    $(function () {
        doIniLoginForm();
        $("#frmTopLogin").find("#ZjdxLoginName").attr("placeholder", "(学号或职工号)");
        $("#frmTopLogin").find("#ZjdxLoginPassword").attr("placeholder", "(首次使用请激活帐号)");
        $("#frmLimsTopLogin").find("#LoginName").attr("placeholder", "登录账号");
        $("#frmLimsTopLogin").find("#LoginPassword").attr("placeholder", "登录密码");
        $("#liLoginType span.combo").height(30);
        $("#liLoginType span.combo input.combo-text").height(30);
        $("#lnkPopLogin").mouseover(function () {
            $(".pop-login-box-zjdx").removeClass("hide");
        });

        $(document).click(function (e) {
            var drag = $(".pop-login-box-zjdx"),
            dragel = $(".pop-login-box-zjdx")[0],
            comdrap = $(".combo-p"),
            comdrapel = $(".combo-p")[0],
            target = e.target;
            if (dragel !== target && !$.contains(dragel, target) && comdrapel !== target && !$.contains(comdrapel, target) && !isVirtualKeyboardInputMode()) {
                $(".pop-login-box-zjdx").addClass("hide");
            }

//            var drag2 = $(".pop-login-box"),
//            dragel2 = $(".pop-login-box")[0];
//            if (dragel2 !== target && !$.contains(dragel2, target) && comdrapel !== target && !$.contains(comdrapel, target) && !isVirtualKeyboardInputMode()) {
//                $(".pop-login-box").addClass("hide");
//            }

            try {
                var dragAccount = $(".pop-account-box"),
            dragelAccount = $(".pop-account-box")[0],
            targetAccount = e.target;
                if (dragelAccount !== targetAccount && !$.contains(dragelAccount, target)) {
                    $(".pop-account-box").addClass("hide");
                }
            }
            catch (e) { }
        });
    });

    function doIniLoginForm() {
        $("#frmTopLogin").find("#ZjdxLoginPassword").keypress(function (e) {
            if (e.keyCode == 13) {
                doZjdxLoginBeforeSubmit();
            }
        });
        $("#frmLimsTopLogin").find("#LoginPassword").keypress(function (e) {
            if (e.keyCode == 13) {
                doTopLoginBeforeSubmit();
            }
        });
    }
    function doTopLoginSubmit() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoginSubmit", "Account")',
            data: $("#frmLimsTopLogin").serialize() + "&date=" + new Date(),
            success: function (data) {
                $("#frmLimsTopLogin").find("#imgLoading").addClass("hide");
                try {
                    if (data && data.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: data, showType: 'show' });
                        return false;
                    }
                }
                catch (e) { }
                var topReturnUrl = $("#TopReturnUrl");
                if (topReturnUrl.length > 0) {
                    var fName = topReturnUrl.attr("fName");
                    var equipmentid = topReturnUrl.attr("equipmentid");
                    var equipmentname = topReturnUrl.attr("equipmentname");
                    if (fName && equipmentid && equipmentname) {
                        if (fName == "doAppointment") {
                            doAppointment(equipmentid, equipmentname);
                            return false;
                        }
                        else if (fName == "doSampleApply") {
                            doSampleApply(equipmentid, equipmentname);
                            return false;
                        }
                    }
                }
                if ('@loginJumpTypeHref' == "") {
                    location.reload();
                }
                else {
                    window.location.href = '@loginJumpTypeHref'
                }
                return false;
            }
        });
    }
    function doTopLoginBeforeSubmit() {
        var isOk = true;
        
        var errorMsg = "";
        if (isCasLoginMode) {
            $("#LoginType").combobox("setValue", '@((int)LoginType.Outer)');
        }
        $("#LoginType").combobox("setValue", '@((int)LoginType.Outer)');
        var loginType = $("#LoginType").combobox("getValue");
        if (isSchoolInnerOrOuterLoginMode) {
            if (!loginType || loginType.trim() == "") {
                errorMsg = "请选择登录类型";
                isOk = false;
            }
        }
        if (isOk && $("#frmLimsTopLogin").find("#LoginName").val().trim() == "") {
            errorMsg = "请输入用户名"
            isOk = false;
        }
        if (isOk && $("#frmLimsTopLogin").find("#LoginPassword").val().trim() == "") {
            errorMsg = "请输入密码"
            isOk = false;
        }
        if (!isOk) {
            $.messager.show({ title: '提示', msg: errorMsg, showType: 'show' });
            return false;
        }
        else {
            $("#frmLimsTopLogin").find("#imgLoading").removeClass("hide");
            doTopLoginSubmit();
            return false;
        }
    }
    function funFaile() {
        $("#frmLogin").find("#imgLoading").addClass("hide");
        $.messager.show({ title: '提示', msg: "公共数据库验证密码失败, 请确认您的用户名和密码.", showType: 'show' });
    }
    function funTrue() {
        if ($("#frmLogin").find("#LoginName").length > 0 && $("#frmLogin").find("#LoginName").val() != "") {
            doLoginSubmit();
        }
        else {
            doTopLoginSubmit();
        }
    }
    $(function () {
        $("#liLoginType input.combo-text").css("width", "232px");
    });

    function toLimsLogin() {
        $(".pop-login-box-zjdx").addClass("hide");
        $(".pop-login-box").removeClass("hide");
    }
    function toZjdxLogin() {
        $(".pop-login-box").addClass("hide");
        $("#divTopLogin").addClass("pop-login-box-zjdx");      
    }
    function doZjdxLoginBeforeSubmit() {
        var isOk = true;
        var errorMsg = "";
//        if (isCasLoginMode) {
//            $("#LoginType").combobox("setValue", '@((int)LoginType.Outer)');
//        }
        //        var loginType = $("#LoginType").combobox("getValue");
        //        if (isSchoolInnerOrOuterLoginMode) {
        //            if (!loginType || loginType.trim() == "") {
        //                errorMsg = "请选择登录类型";
        //                isOk = false;
        //            }
        //        }
        if (isOk && $("#frmTopLogin").find("#ZjdxLoginName").val().trim() == "") {
            errorMsg = "请输入用户名"
            isOk = false;
        }
        if (isOk && $("#frmTopLogin").find("#ZjdxLoginPassword").val().trim() == "") {
            errorMsg = "请输入密码"
            isOk = false;
        }
        if (!isOk) {
            $.messager.show({ title: '提示', msg: errorMsg, showType: 'show' });
            return false;
        }
        else {
            $("#frmTopLogin").find("#imgLoading").removeClass("hide");
            doZjdxLoginSubmit();
            return false;
        }
    }
    function doZjdxLoginSubmit() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ZjdxLoginSubmit", "Account")',
            data: $("#frmTopLogin").serialize() + "&date=" + new Date(),
            success: function (data) {
                $("#frmTopLogin").find("#imgLoading").addClass("hide");
                try {
                    if (data && data.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: data, showType: 'show' });
                        return false;
                    }
                }
                catch (e) { }
                var topReturnUrl = $("#TopReturnUrl");
                if (topReturnUrl.length > 0) {
                    var fName = topReturnUrl.attr("fName");
                    var equipmentid = topReturnUrl.attr("equipmentid");
                    var equipmentname = topReturnUrl.attr("equipmentname");
                    if (fName && equipmentid && equipmentname) {
                        if (fName == "doAppointment") {
                            doAppointment(equipmentid, equipmentname);
                            return false;
                        }
                        else if (fName == "doSampleApply") {
                            doSampleApply(equipmentid, equipmentname);
                            return false;
                        }
                    }
                }
                if ('@loginJumpTypeHref' == "") {
                    location.reload();
                }
                else {
                    window.location.href = '@loginJumpTypeHref'
                }
                return false;
            }
        });
    }
</script>