@model com.Bynonco.LIMS.Model.View.ViewAnimalAppointment
@using com.Bynonco.JqueryEasyUI.Core; 
@{
     var applicant = (com.Bynonco.LIMS.Model.User)ViewData["Applicant"];
 }
@Html.Partial("../AnimalAppointment/AppointmentScriptContainer")
<div id="divDelegateAnimalAppointmentEdit" style="width:480px;"> 
<form id="frmDelegateAnimalAppointmentEdit" action="#" style="width:100%;">
    @Html.Hidden("Id",Model == null ? "" : Model.Id.ToString())
    <table id="tbDelegateAnimalAppointmentEdit" class="edit-table" style="width:100%;">
         <tr id="trEthicsAmount" style="display:none">
            <th colspan="3">
                <span id="spanEthicsAmount"></span>
            </th>
        </tr>
        <tr>
            <th>申请人</th>
            <td>
                @(Model == null ? applicant.UserName : Model.ApplicantName)
                @Html.Hidden("ApplicantId", Model == null ? applicant.Id : Model.ApplicantId)
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>申请日期</th>
            <td>
                @Html.JDateTimePicker("ApplyTime").SetValue(Model == null ? DateTime.Now.ToString("yyyy-MM-dd") : Model.ApplyTime.ToString("yyyy-MM-dd")).SetWidth(235).ToMvcString()
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>联系电话</th>
            <td>
                @Html.JValidateBox("ApplicantLinkTelNo").SetValue(Model == null ? applicant.PhoneNumber : Model.ApplicantLinkTelNo).SetWidth(230).SetValidateType(ValidateType.none).ToMvcString()
            </td>
        </tr>
        <tr style="display:none">
            <th><span class="required">*</span>课题组</th>
            <td>
                @Html.Hidden("SubjectId", Model == null ? "" : Model.SubjectId.Value.ToString())
                <span id="spanSubjectName">@(Model != null ? Model.SubjectName : "")</span>
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>伦理编号</th>
            <td>
                 @Html.JComboBox("EthicsNo").SetData(ViewData["EthicsNoJson"]).SetOnChange(string.Format("doOnEthicsChange(newValue,oldValue,'{0}','AnimalCategoryId','SubjectProjectId','spanSubjectName','SubjectId');", Model != null ? Model.AnimalCategoryId : Guid.Empty)).SetWidth(235).ToMvcString()
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>@(ViewData["ProjectShowName"].ToString())</th>
            <td>
                 @Html.JComboBox("SubjectProjectId").SetDisabled(true).SetWidth(235).ToMvcString()
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>动物来源</th>
            <td>
                @Html.JComboBox("AnimalSourceId").SetData(ViewData["AnimalSourceJson"]).SetWidth(235).ToMvcString()
                <span>可手工输入</span>
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>动物品系</th>
            <td>
              @Html.JComboBox("AnimalCategoryId").SetOnChange(string.Format("doOnAnimalCategoryChanged(newValue,oldValue,'{0}','spanEthicsAmount','trEthicsAmount','EthicsNo','AnimalSourceId','spanAnimalSourceName','AnimalSpecifications','spanAnimalSpecifications');", Model != null ? Model.Id : Guid.Empty)).SetWidth(235).ToMvcString()
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>规格</th>
            <td>
                @Html.Hidden("AnimalSpecifications",Model != null ? Model.AnimalSpecifications : "")
                <span id="spanAnimalSpecifications">@(Model != null ? Model.AnimalSpecifications : "")</span>
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>性别</th>
            <td>
                @Html.JComboBox("Sex").SetData(ViewData["SexJson"]).SetOnLoadSuccess(string.Format("doOnSexLoadSuccess('MaleQuatity','{0}','FemaleQuatity','{1}');", Model != null ? Model.MaleQuatity.ToString() : "", Model != null ? Model.FemaleQuatity.ToString() : "")).SetOnChange("doOnSexChange(newValue,oldValue,'Quantity','MaleQuatity','FemaleQuatity');").SetWidth(235).ToMvcString()
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>数量</th>
            <td>
                @Html.JValidateBox("Quantity").SetValue(Model == null ? "" : Model.Quantity.ToString()).SetWidth(230).SetValidateType(ValidateType.none).SetOnChange("doCalAnimalAmount('Quantity','Quantity','MaleQuatity','FemaleQuatity');").ToMvcString()
            </td>
        </tr>
        <tr class="animalAmount">
            <th><span class="required">*</span>♂数量</th>
            <td>
                @Html.JValidateBox("MaleQuatity").SetValue(Model == null ? "" : Model.MaleQuatity.ToString()).SetWidth(230).SetValidateType(ValidateType.none).SetOnChange("doCalAnimalAmount('MaleQuatity','Quantity','MaleQuatity','FemaleQuatity');").ToMvcString()
            </td>
        </tr>
        <tr class="animalAmount">
            <th><span class="required">*</span>♀数量</th>
            <td>
               @Html.JValidateBox("FemaleQuatity").SetValue(Model == null ? "" : Model.FemaleQuatity.ToString()).SetWidth(230).SetValidateType(ValidateType.none).SetOnChange("doCalAnimalAmount('FemaleQuatity','Quantity','MaleQuatity','FemaleQuatity');").ToMvcString()
            </td>
        </tr>
        <tr>
            <th>备注</th>
            <td>
                @Html.TextArea("Remark", Model == null ? "" : Model.Remark, 3, 60, null)
            </td>
        </tr>
    </table>
  </form>
</div>