@model com.Bynonco.LIMS.Model.BalanceAccount
@{
    var isCostDeductOpenFund = ViewData["IsCostDeductOpenFund"] == null ? false : bool.Parse(ViewData["IsCostDeductOpenFund"].ToString());
}
<div>
    <table class="edit-table" style="width:100%">
        <tr>
            <th>总人数</th>
            <td>
                @Model.TotalPersons
                <span>人</span>
            </td>
            <th>总金额</th>
            <td>
                @Model.TotalMoney.ToString("0.00")
                <span>元</span>
            </td>
            <td colspan='4'>
                总真实币:@(Math.Round(Model.TotalRealCurrency,2).ToString())<span style='margin-right:5px;'>元</span>
                总奖励币:@(Math.Round(Model.TotalVirtualCurrency, 2).ToString())<span style='margin-right:5px;'>元</span>
                @if(isCostDeductOpenFund) 
                { 
                    @:总补贴币:@(Math.Round(Model.TotalSubsidiesCurrency, 2).ToString())<span>元</span>
                }
            </td>
        </tr>
        <tr>
            <th>起始时间</th>
            <td>
                @Model.BeginAtStr
            </td>
            <th>结束时间</th>
            <td>
                @Model.EndAtStr
            </td>
            <th>结算人</th>
            <td>
                @Model.CreatorName
            </td>
            <th>结算时间</th>
            <td>
                @Model.CreateAtStr
            </td>
        </tr>
    </table>
</div>