@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
    var animalPrivilige = com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetAnimalPrivilige(User.Identity.Name);
}
<div class="search-grid hide">
    <div class="search-inner-box">@Html.Partial("../Animal/Search")</div>
</div>
<div>@Html.Partial("../Animal/List")</div>
<div style="display:none;">@Html.Partial("../Animal/ScriptContainer")</div>
<script type="text/javascript">
    function doAddOrEdit(id) {
        var url = '@Url.Action("EditIndex", "Animal")' + "?id=" + id + "&time=" + new Date().getMilliseconds();
        ajaxActionLink(url, "Loading", "layoutCenterBox", ajaxloadsuccess, dialogOpen);
        return false;
    }
    function generateSelectedIds() {
        var ids = [];
        var rows = $("#tbAnimalList").datagrid("getSelections");
        if (rows && rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].Id);
            }
        }
        return ids.toString();
    }
    function doDelete(ids) {
        var delIds = ids == null || ids.trim() == "" ? generateSelectedIds() : ids;
        $.messager.confirm('提示', '确认删除?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")'+ "?time=" + new Date().getMilliseconds().toString(),
                data: "ids=" + delIds,
                success: function (msg) {
                    $.messager.progress('close');
                    doSearch();
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    }
                }
            });
        });
        return false;
    }
    function doBatchStart(){
         var ids = generateSelectedIds();
        if(ids == ""){
            $.messager.show({ title: '提示', msg: "请选择要启用的项", showType: 'show' });
            return false;
        }
        $.messager.confirm('提示', '确认启用?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在加载数据,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("BatchStart")'+ "?time=" + new Date().getMilliseconds().toString(),
                data: "ids=" + ids,
                success: function (msg) {
                    $.messager.progress("close");
                    doSearch();
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                }
            });
        });
        return false;
    }
    function doBatchStop(){
        var ids = generateSelectedIds();
        if(ids == ""){
            $.messager.show({ title: '提示', msg: "请选择要停用的项", showType: 'show' });
            return false;
        }
        $.messager.confirm('提示', '确认停用?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在加载数据,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("BatchStop")'+ "?time=" + new Date().getMilliseconds().toString(),
                data: "ids=" + ids,
                success: function (msg) {
                    $.messager.progress("close");
                    doSearch();
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                }
            });
        });
        return false;
    }
    function doAnimalSearch() {
        var queryExpression = generateAnimalQueryExpress();
        $("#tbAnimalList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbAnimalList").datagrid("load", { "queryExpression": queryExpression.trim(),"time":new Date().getMilliseconds() });
    }    
</script>
