@model com.Bynonco.LIMS.Model.View.ViewAnimal
@using com.Bynonco.JqueryEasyUI.Core; 
@using com.Bynonco.LIMS.Model.Enum; 
<div id="divViewAnimal" style="height:550px; width:650px; overflow-y:auto;overflow-x:hidden;">
    <p><b>1.基本信息</b></p>
    <table id="tbAnimalEdit" class="edit-table" style="width:100%;">
        <tr>
            <th>动物名称</th>
            <td>
                @Model.Name
            </td>
            <th>助记符</th>
            <td>
                @Model.InputStr
            </td>
            <th>性别</th>
            <td>
                @Model.SexStr
            </td>
        </tr>
        <tr>
            <th>所属品系</th>
            <td>
                @Model.AnimalCategoryName
            </td>
            <th>是否停用</th>
            <td>
                @Model.IsStopStr
            </td>
             <th>购置人</th>
            <td id="tbOwnerId">
               @Model.OwnerName
            </td>
        </tr>
        <tr>
            <th>批次编号</th>
            <td>
               @Model.Code
            </td>
            <th>伦理编号</th>
            <td>
                @Model.EthicsNo
            </td>
            <th>质量合格证号</th>
            <td>
                @Model.QualifiedNo
            </td>
        </tr>
        <tr>
            <th>库存状态</th>
            <td>@(System.Web.Mvc.MvcHtmlString.Create(Model.StoreStatusStr))</td>
           
             <th>所属级别</th>
            <td colspan="3">
                @Model.GradeName
            </td>
        </tr>
         <tr>
            <th>动物来源</th>
            <td>
                @Model.SourceName
            </td>
            <th>体重</th>
            <td>
                @Model.WeightStr
                @Model.WeightUnitName
            </td>
            <th>出生日期</th>
            <td>
                @Model.BirthdayStr
            </td>
        </tr>
        <tr>
            <th>周龄</th>
            <td>
                @Model.WeekAge
            </td>
            <th>父ID</th>
            <td id="tbFatherId">
               @Model.FatherName
            </td>
            <th>母ID</th>
            <td id="tbMotherId">
                @Model.MotherName
            </td>
        </tr>
        <tr>
            <th>代数</th>
            <td>
              @Model.GenerationName
            </td>
            <th>毛色</th>
            <td>
               @Model.HairColorName
            </td>
            <th>鉴定</th>
            <td>
               @Model.IdentifyName
            </td>
        </tr>
        <tr>
            <th>按品系计费标准</th>
            <td>@(Model.IsUseAnimalCategoryChargeStandard ? "是" : "否")</td>
            <th>计费方式</th>
            <td>
               @(Model.ChargeTypeStr)
            </td>
            <th>价格(元)</th>
            <td>
               @(Model.UnitPriceStr)
            </td>
        </tr>
        <tr>
            <th>计费表达式</th>
            <td colspan="5">
                @Model.ChargeExpression
            </td>
        </tr>
        <tr>
            <th>联系人</th>
            <td>
                @Model.LinkMan
            </td>
            <th>联系电话</th>
            <td colspan="3">
                @Model.LinkTelNo
            </td>
            
        </tr>
        <tr>
            <th>描述</th>
            <td colspan="5">
                @Model.Description
            </td>
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="5">
                @Model.Remark
            </td>
        </tr>
    </table>
    <p><b>2.分笼信息</b></p>
    <table class="edit-table" style="width:100%;">
        <tr>
            <th>入笼日期</th>
            <td>@Model.EnterCageTimeStr</td>
            <th>入笼天数</th>
            <td>@(Model.EnterCageAge + "天")</td>
            <th>入笼体重</th>
            <td>
                @Model.EnterCageWeightStr
                @Model.EnterCageWeightUnitName
            </td>
        </tr>
        <tr>
            <th>存放位置</th>
            <td colspan="5">@Model.AnimalPos</td>
        </tr>
        <tr>
            <th>入库人</th>
            <td>@Model.InOperatorName</td>
            <th>入库时间</th>
            <td>@Model.InDateStr</td>
            <th>入库备注</th>
            <td>@Model.InRemark</td>
        </tr>
    </table>
    <p><b>3.状态信息</b></p>
    <table class="edit-table">
        <tr>
            <th>用途</th>
            <td colspan="5">
                @Model.UseName
            </td>
        </tr>
    </table>
    <p><b>4.死亡信息</b></p>
    <table class="edit-table" style="width:100%;">
        <tr>
            <th>当前状态</th>
            <td>@(System.Web.Mvc.MvcHtmlString.Create(Model.StatusStr))</td>
            <th>死亡日期</th>
            <td>@Model.DieTimeStr</td>
            <th>死亡体重</th>
            <td id="tdDieWeight">
                @Model.DieWeightStr
                @Model.DieWeightUnitName
            </td>
        </tr>
        <tr>
            <th>死亡登记人</th>
            <td>@Model.RegisterDeathOperatorName</td>
            <th>死亡登记日期</th>
            <td>@Model.RegisterDeathDateStr</td>
            <th>死亡登记备注</th>
            <td>@Model.RegisterDeathRemark</td>
        </tr>
        <tr>
            <th>登记死亡反馈状态</th>
            <td>@Model.ConfirmDeathStatusStr</td>
            <th>登记死亡反馈备注</th>
            <td colspan="3">@Model.ConfirmDeathRemark</td>
        </tr>
    </table>
    <p><b>5.取材信息</b></p>
    <table class="edit-table" style="width:100%;">
        <tr>
            <th>取材申请日期</th>
            <td>@Model.ApplyGettingOutDateStr</td>
            <th>取材申请人</th>
            <td>
               @Model.ApplyGettingOutOperatorName
            </td>
            <th>取材申请备注</th>
            <td>
               @Model.ApplyGettingOutRemark
            </td>
        </tr>
        <tr>
            <th>取材审核日期</th>
            <td>@Model.GettingOutAuditOperatorName</td>
            <th>取材审核人</th>
            <td>@Model.GettingOutAuditOperatorName</td>
            <th>取材审核状态</th>
            <td>@Model.GettingOutAuditStatusStr</td>
        </tr>
        <tr>
            <th>取材审核备注</th>
            <td colspan="5">@Model.GettingOutAuditStatusStr</td>
        </tr>
    </table>
    <p><b>6.操作信息</b></p>
    <table class="edit-table" style="width:100%;">
        <tr>
            <th>操作人</th>
            <td>@(Model == null ? "" : Model.OperatorName)</td>
            <th>操作时间</th>
            <td colspan="3">@(Model == null ? "" : Model.OperatorTimeStr)</td>
        </tr>
    </table>
</div>
