<div class="z-panel-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../UserAccountRecord/Search")
    </div>
</div>

<div class="layout-center-full">
    @Html.Partial("../UserAccountRecord/List")
</div>
@Html.Partial("../UserAccountRecord/ScriptContainer")
<div style="display:none">@Html.Partial("../UsedConfirm/ScriptContainer")</div>
<div style="display:none">@Html.Partial("../CostDeduct/ManualCostDeductScriptContainer")</div>
<div style="display:none">@Html.Partial("../Appointment/ViewAppointmentInfoScript")</div>
<div style="display:none">@Html.Partial("../MaterialOutput/ScriptContainer")</div>
<div style="display:none">@Html.Partial("../DepositRecord/ScriptContainer")</div>
<div style="display:none">@Html.Partial("../OpenFundApply/ScriptContainer")</div>
<div style="display:none">@Html.Partial("../OpenFundApply/DepositScriptContainer")</div>
