@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.BLL.Business.Customer.Factory;
@{
    Layout = ViewBag.Layout;
    var customer = CustomerFactory.GetCustomer();
    var customerOrgName = customer == null ? "" : customer.GetLabOrganizationName();
}
<div class="layout-center-full">
    @Html.Partial("../AnimalCategory/List")
</div>
<div id="divAnimalCategoryDialog" style="display:none"></div>
<script type="text/javascript">
    function doSearch() {
        $('#tbAnimalCategoryList').treegrid('loadData', { total: 0, rows: [] });
        $("#tbAnimalCategoryList").treegrid("reload");
        return false;
    }
    var animalCategoryDialog;
    function doAnimalCategoryDialog() {
        if (animalCategoryDialog) {
            animalCategoryDialog.dialog("destroy");
        }
        animalCategoryDialog =  @Html.JDialog("divAnimalCategoryEdit").SetTitle("动物品系信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("animalCategoryDialog.dialog('close');return false;").SetModal(true).SetOkScript("doSaveAnimalCategory();").ToMvcString();
    }
    function doAddOrEditAnimalCategory(id){
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        var url =(id==""?'@Url.Action("Add","AnimalCategory")': '@Url.Action("Edit","AnimalCategory")')+ "?id=" + id + "&date=" + new Date().getMilliseconds();
        $("#divAnimalCategoryDialog").load(url,function(){
            doAnimalCategoryDialog();
            $.messager.progress('close');
        })
        return false;
    }
    function doAddAnimalCategory(id) {
       doAddOrEditAnimalCategory(id);
    }
    function doEditAnimalCategory(id) {
       if(!id || id.trim()==""){
           var selectedAnimalCategory = $("#tbAnimalCategoryList").treegrid("getSelected");
           if(!selectedAnimalCategory || selectedAnimalCategory.Id=="" || selectedAnimalCategory.Id.isDefaultGuid()) {
              $.messager.show({ title: '提示', msg:"请选择设备分类", showType: 'show' });
              return false;
           }
           id = selectedAnimalCategory.Id;
       }
       doAddOrEditAnimalCategory(id);
    }
    function doSaveAnimalCategory(){
        if($("#Name").val().trim() == ""){
          $.messager.show({ title: '提示', msg:"名称为空", showType: 'show' });;
          return false;
        }
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("Save", "AnimalCategory")' +  "?date=" + new Date().getMilliseconds(),
            data: $("#frmAnimalCategoryEdit").serialize(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                    $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                    return false;
                }
                animalCategoryDialog.dialog('close');
                doSearch();
            }
        });
   }
   function doDeleteAnimalCategory(id){
        if(!id || id.trim() == ""){
              var selectedAnimalCategory = $("#tbAnimalCategoryList").treegrid("getSelected");
                if(!selectedAnimalCategory || selectedAnimalCategory.Id.trim() == "" || selectedAnimalCategory.Id.isDefaultGuid()){
                    $.messager.show({ title: '提示', msg:"请选择要删除的项", showType: 'show' });
                    return false;
                }
                id = selectedAnimalCategory.Id;
         }
        $.messager.confirm('提示', '确认删除?', function (r) {
            if (!r) return;
            $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "AnimalCategory")'+ "?date=" + new Date().getMilliseconds(),
                data: "id=" + id ,
                success: function (msg) {
                    $.messager.progress('close');
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                        return false;
                    }
                    doSearch();
                }
            });
        });
        return false;
   }
   function adjustXpath(xPath,compareTarget){
        if(!xPath || xPath.trim()=="" || !compareTarget || compareTarget.trim()=="") return false;
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("AdjustXPath", "AnimalCategory")' +  "?date=" + new Date().getMilliseconds(),
            data: {"xPath":xPath,"compareTarget":compareTarget},
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                    $.messager.show({ title: '提示', msg:msg, showType: 'show' });
                    return false;
                }
                doSearch();
            }
        });
        return false;
   }
</script>