@model com.Bynonco.LIMS.Model.OpenFundDepositRecord
@using com.Bynonco.JqueryEasyUI.Core; 
@using com.Bynonco.LIMS.BLL.Business.Customer.Factory;
@{
    //var isManageEdit = ViewData["IsManageEdit"] == null ? false : (bool)ViewData["IsManageEdit"];
    var customer = CustomerFactory.GetCustomer();
    var customerIsDepositPhoto = customer != null && customer.GetIsDepositPhoto();
    var isPreAudit = ViewData["IsPreAudit"] != null && bool.Parse(ViewData["IsPreAudit"].ToString());
}
@if (Model != null)
{
<div id="divOpenFundDepositRecordAudit">
 <form id="frmOpenFundDepositRecordAudit" action="#">
    @Html.Hidden("Id", Model.Id.ToString())
    <table id="tdOpenFundDepositRecordEdit" class="edit-table"  style="width:600px;">
         <tr>
            <th>开放申请单</th>
            <td id='tdOpenFundApply'>
                <b style="padding:2px">@(ViewData["OpenFundApplyName"] == null ? "" : ViewData["OpenFundApplyName"].ToString())</b>
                @Html.Hidden("OpenFundApplyId", ViewData["OpenFundApplyId"] == null ? "" : ViewData["OpenFundApplyId"].ToString())
            </td>
            <th>存款时间</th>
            <td>
                @Model.DepositDate.ToString("yyyy-MM-dd")
            </td>
         </tr>
         <tr>
            <th>导师</th>
            <td id='tdTutor' style='font-weight:bold;'>
                @(ViewData["TutorName"] == null ? "" : ViewData["TutorName"].ToString())
            </td>
            <th>联系电话</th>
            <td>
                @(ViewData["TutorPhoneNumber"] == null ? "" : ViewData["TutorPhoneNumber"].ToString())
            </td>
        </tr>
       <tr>
            <th>开放基金信息</th>
            <td id='tdOpenFundApplyInfo' colspan="3">
                @System.Web.Mvc.MvcHtmlString.Create(ViewData["OpenFundApplyInfo"] == null ? "" : ViewData["OpenFundApplyInfo"].ToString())
            </td>
       </tr>
        <tr>
            <th>存款信息</th>
            <td colspan='3'>
                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th style='width:150px;'>存款金额</th>
                    <th style='width:150px;'>补贴基金</th>
                    <th style='width:150px;'>总额(元)</th>
                </tr>            
                <tr>
                    <td style='text-align:center;'>@Model.DepositSum.ToString()</td>
                    <td style='text-align:center; color:Blue;' id='tdSubsidies'>@(Model.OpenFundSum - Model.DepositSum)</td>
                    <td style='text-align:center;'>@(Model.OpenFundSum)
                        @Html.Hidden("OpenFundSum", (Model.OpenFundSum))
                    </td>
                </tr>            
                </table>
            </td>
        </tr>
        @if (customerIsDepositPhoto)
        {
        <tr>
            <th>凭证号</th>
            <td>
                @Html.JValidateBox("CertificateNum").SetValue(Model.CertificateNum).SetWidth(200).ToMvcString()
            </td>
            <th>发票号</th>
            <td>
                @Html.JValidateBox("InvoiceNo").SetValue(Model.InvoiceNo).SetWidth(200).ToMvcString()
            </td>
        </tr>
        <tr>
            <th rowspan='2'>存款验证图</th>
            <td colspan="3">
                <input id="fileDepositRecordPhoto" type="file" name="fileDepositRecordPhoto" class="addfile" onchange="ajaxFileUploadDepositRecordPhoto();return false;"/>
                <br />
                <a id='fileDepositRecordPhotoPath' href='@(Model == null || string.IsNullOrWhiteSpace(Model.DepositRecordPhoto) ? "javascript:;" : Url.Content("~/" + Model.DepositRecordPhoto))' target="_blank" class='@(Model == null || string.IsNullOrWhiteSpace(Model.DepositRecordPhoto) ? "hide" : "")' style='text-decoration:underline;'>
                    @(Model != null && !string.IsNullOrWhiteSpace(Model.DepositRecordPhotoName) ? Model.DepositRecordPhotoName : "(点击查看存款验证图片/附件)")
                </a>
                @Html.Hidden("DepositRecordPhoto", Model.DepositRecordPhoto)
                @Html.Hidden("DepositRecordPhotoName", Model.DepositRecordPhotoName)
            </td>
        </tr>
        <tr>
            <td colspan="3">格式：rar , zip , jpg , jpeg , png , ico , bmp , gif<span style='margin-left:20px;font-weight:bold;color:Black;'>大小</span>：小于10M</td>
        </tr>
        }
        <tr>
            <th>备注</th>
            <td colspan="3">@Model.Remark</td>
        </tr>
        <tr>
            <th>审核备注</th>
            <td colspan="3">
                @Html.TextArea("AuditRemark", (isPreAudit ? Model.PreAuditRemark : Model.AuditRemark), new { style = "font-size:12px;text-decoration:none;height:60px;width:96%;margin-right:5px;" })
            </td>
        </tr>
    </table>
  </form>
</div> 
}