@model com.Bynonco.LIMS.Model.JudgeProject
@using com.Bynonco.JqueryEasyUI.Core; 

<div id="divJudgeProjectEdit">
 <form id="frmJudgeProjectEdit" action="#">
    @Html.Hidden("Id",Model == null ? "": Model.Id.ToString())
    <table id="tdJudgeProjectEdit" class="edit-table"  style="width:385px;">
         <tr>
            <th><span class="required">* </span>名称</th>
            <td>
                @Html.JValidateBox("Name").SetValue(Model == null ? "" : Model.Name).SetWidth(200).ToMvcString()
            </td>
        </tr>
        <tr>
            <th><span class="required">* </span>权重</th>
            <td>
                @Html.JValidateBox("Weight").SetValue(Model == null ? "" : Model.Weight.ToString()).SetWidth(200).ToMvcString()
            </td>
        </tr>
        <tr>
            <th><span class="required">* </span>分数</th>
            <td>
                @Html.JValidateBox("ProjectCent").SetValue(Model == null ? "" : Model.ProjectCent.ToString()).SetWidth(200).ToMvcString()
            </td>
        </tr>
        <tr>
            <th>是否停用</th>
            <td>
                @Html.CheckBox("IsStop", Model == null ? false : Model.IsStop)
            </td>
        </tr>
    </table>
  </form>
</div> 