@using com.Bynonco.JqueryEasyUI.Core;
<script type="text/javascript">
    function generateQueryExpress() {
        var queryExpression = "";
        var applicantName = $("#SearchApplicantName").val().trim();
        if (applicantName != "") {
            queryExpression += "ApplicantName∽\"" + applicantName + "\"";
        }
        var createBeginTime = $("#SearchCreateBeginTime").datebox("getValue").trim();
        if (createBeginTime != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "ApplyTime>\"" + createBeginTime + " 00:00:00" + "\"";
        }
        var createEndTime = $("#SearchCreateEndTime").datebox("getValue").trim();
        if (createEndTime != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "ApplyTime<\"" + createEndTime + " 23:59:59" + "\"";
        }
        var selectedStatus = $("#SearchStatus").combobox("getValue").trim();
        if (selectedStatus && selectedStatus != "" && selectedStatus != "-1") {
            queryExpression += (queryExpression == "" ? ("Status=\"" + selectedStatus + "\"") : ("*Status=\"" + selectedStatus + "\""));
        }
        var ethicsNo = $("#SearchEthicsNo").val().trim();
        if (ethicsNo != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "EthicsNo∽\"" + ethicsNo + "\"";
        }
        return queryExpression;
    }

    function doReset() {
        $("#SearchApplicantName").val("");
        $("#SearchEthicsNo").val("");
        $("#SearchCreateBeginTime").datebox("setValue", "");
        $("#SearchCreateEndTime").datebox("setValue", "");
        $("#SearchStatus").combobox("setValue", "-1");
        return false;
    }
    
</script>
<ul class="search">
    <li>
        <label>申请人</label>
        @Html.JValidateBox("SearchApplicantName").SetWidth(150).SetHeight(18).ToMvcString()
    </li>
    <li>
        <label>状态</label>
        @Html.JComboBox("SearchStatus").SetWidth(155).SetData(ViewData["StatusJson"]).SetMutiSelect(false).ToMvcString()
    </li>
    <li>
        <label>伦理编号</label>
        @Html.JValidateBox("SearchEthicsNo").SetWidth(150).SetHeight(18).ToMvcString()
    </li>
    <li>
        <label>开始时间</label>
        @Html.JDateTimePicker("SearchCreateBeginTime").SetWidth(155).ToMvcString()
    </li>
    <li>
        <label>结束时间</label>
        @Html.JDateTimePicker("SearchCreateEndTime").SetWidth(155).ToMvcString()
    </li>
    <li>
        @Html.JLinkButton("btnSearch", "查询").SetOnclick("doSearch();doCloseSearch();").ToMvcString()
        @Html.JLinkButton("btnReset", "清空").SetOnclick("doReset();").ToMvcString()
        @Html.JLinkButton("btnClose", "关闭").SetOnclick("doCloseSearch();").ToMvcString()
        <div class="clear-both"></div>
    </li>
    <div class="clear-both"></div>
</ul>
<div class="clear-both"></div>