@model com.Bynonco.LIMS.Model.NMPAdditionChargeItem
@using com.Bynonco.JqueryEasyUI.Core; 
<div id="divNMPAdditionChargeItemEdit">
 <form id="frmNMPAdditionChargeItemEdit" action="#">
    @Html.Hidden("AdditionChargeItemId", Model == null ? "" : Model.Id.ToString())
    <table id="tdEquipmentAdditionChargeItem" class="edit-table">
         <tr>
            <th>名称</th>
            <td>
                @Html.JValidateBox("Name").SetValue(Model == null ? "" : Model.Name).SetWidth(200).ToMvcString()
                <span class="">必填</span>
            </td>
        </tr>
        <tr>
            <th>价格(元)</th>
            <td>
                @(Html.JValidateBox("StandardPrice").SetValue(Model == null ? "0" : Model.StandardPrice.ToString("0.00")).SetWidth(200).SetValidateType(ValidateType.number).SetInvalidMessage("请输入有效的价格").ToMvcString())
                <span class="">必填</span>
            </td>
        </tr>
        <tr>
            <th>是否停用</th>
            <td id="tdType">
                @(Html.JComboBox("IsStop")
                .SetData(ViewData["IsStopJson"])
                .SetWidth(207).ToMvcString())
                <span class="">必填</span>
            </td>
        </tr>
         <tr>
            <th>备注</th>
            <td>
                @Html.TextArea("Remark", Model == null ? "" : Model.Remark, new { style = "font-weight:normal;font-size:12px;text-decoration:none;height:60px;width:295px;margin-right:5px;" })
            </td>
        </tr>
    </table>
  </form>
</div> 