@using com.Bynonco.JqueryEasyUI.Core;
@model com.Bynonco.LIMS.Model.View.ViewNMPEquipment

<div>@Html.Partial("../Equipment/AppointmentTimesOperate")</div>
<div>@Html.Partial("../Equipment/AppointmentTimes")</div>
<div style="margin-top:5px">@Html.Partial("../Equipment/AppointmentTimesDescription")</div>
<div style="margin-top:5px">@Html.Partial("../Equipment/AppointmentTimesDescriptionExtend")</div>
<div>@Html.Partial("../Equipment/AppointmentTimesScript")</div>