@model com.Bynonco.LIMS.Model.View.ViewNMP
@using com.Bynonco.JqueryEasyUI.Core; 
@using com.Bynonco.LIMS.Model.Business;
@{
  
    var nmpPrivilige = Model != null ?
            com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetNMPPrivilige(User.Identity.Name) :
            com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetNMPPrivilige(User.Identity.Name, Model.Id);
  var standardPrice = Model.GetNMP().ChargeStandard != null ? Model.GetNMP().ChargeStandard.StandardPrice.ToString() : "";
}
<style type="text/css">
    table tr th{ min-width:120px; text-align:right}
</style>
<script type="text/javascript">
    function doOnChargeTypeCharged(newValue, oldValue) {
        $("#divSelfDefinedContainer").css("display", newValue != "3" ? "none" : "block");
        $(".selfdefinedchargestandard-price").attr("style", newValue == "0" || newValue == "3" ? "display:none" : "");
        if (newValue == "0") {
            $("#StandardPrice").val("0");
            $("#StandardPrice").attr("readonly", "readonly");
            $(".additionChargeItem").val("0");
        }
        else {
            $("#StandardPrice").removeAttr("readonly");
            $("#StandardPrice").val("@standardPrice"); 
        }
    }
</script>
 <form id="frmBasicChargeSettingEdit" action="#">
<div>
    <p>工位收费标准</p>
    <table class="edit-info">
        <tr>
            <th>计费方式</th>
            <td>
                @(Html.JComboBox("ChargeType")
                .SetWidth(305)
                .SetData(ViewData["ChargeTypeJson"])
                .SetOnChange("doOnChargeTypeCharged(newValue, oldValue);")
                .ToMvcString())
            </td>
        </tr>
        <tr>
            <th>计费价格</th>
            <td>
                @(Html.JValidateBox("StandardPrice")
                .SetValue(Model.GetNMP().ChargeStandard != null ? Model.GetNMP().ChargeStandard.StandardPrice.ToString() : "")
                .SetWidth(300)
                .SetValidateType(ValidateType.number)
                .SetInvalidMessage("请输入有效的收费价格").ToMvcString())
                <span>(元)</span>
                <span class="required">必填</span>
            </td>
        </tr>
        <tr>
            <th>小数位数</th>
            <td>
                @Html.JValidateBox("RoundDigits").SetWidth(300).SetValue(Model.GetNMP().ChargeStandard != null ? Model.GetNMP().ChargeStandard.RoundDigits.ToString() : "2").ToMvcString()
                <span class="required">必填</span>
            </td>
        </tr>
        <tr>
            <th>是否分段计费</th>
            <td>
                @Html.CheckBox("IsDurationPrice",  Model.GetNMP() == null || Model.GetNMP().ChargeStandard == null ? false : Model.GetNMP().ChargeStandard.IsDurationPrice)

            </td>
        </tr>
        <tr>
            <th>最小不扣费时间间隔</th>
            <td class="clear-both">
                <div class="float_l">
                     @(Html.CheckBox("UseDefaultMinUnchangeMinutes", new { onchange = "doUseDefaultMinUnchangeMinutesChanged();" }))<label for="UseDefaultMinUnchangeMinutes">按默认设置</label>
                </div>
                <div class="float_l margin-l-10" id="divMinAppointmentCancelTime" style='display: @(Model.UseDefaultMinUnchangeMinutes ? "none" : "block")'>
                    @(Html.JValidateBox("MinUnchangeMinutes").SetValue(Model.MinUnchangeMinutes.ToString()).SetWidth(80).SetValidateType(ValidateType.positiveIntNumber).ToMvcString())
                    <span>(分钟)</span>
                </div>
                 &nbsp;&nbsp;<span class="icon icon-info-blue" title="当设备的使用记录小于该时间间隔的时候不进行扣费"></span>
             </td>
        </tr>
    </table>
</div>
@if (Model.GetNMP().AdditionChargeItems != null && Model.GetNMP().AdditionChargeItems.Where(p => !p.IsStop).Count() > 0)
{
    <p>附加收费项目</p>
    <div>@Html.Partial("AdditionChargeItems") </div>   
}
<div id="divLabelChargeStandsContainer">
    <p>个别收费标准 @(Html.JLinkButton("btnAddLabelChargeStand", "新增").SetPlain(true).SetIconCls("icon-add").SetOnclick("doAddNMPLabelChargeStand();return false;").SetVisible(nmpPrivilige.IsEnableAddNMPLabelChargeStand).ToMvcString())</p>
    <div>@Html.Partial("LabelChargeStands")</div>
</div>
<div id="divSelfDefinedContainer" style="display:none">
    <p>
        自定义计费标准>>@(Html.JLinkButton("btnTestSelftDefineExpression", "点击进行表达式测试").SetPlain(true).SetOnclick("$('#divSelfDefinedChargeStandardTest').fadeIn(500);return false;").ToMvcString())
    </p>
    <div style="padding: 10px 0 10px 20px;">@Html.TextArea("SelfDefinedExpression", Model != null && Model.GetNMP().ChargeStandard != null ? Model.GetNMP().ChargeStandard.Expression : "", new { style = "width:600px;height:200px;font-size:12px;font-weight-normal;" })</div>
    <div id="divSelfDefinedChargeStandardTest" style="display:none;padding: 10px 0 10px 20px;">@Html.Partial("SelfDefinedChargeStandardTest")</div>
</div>
</form>
<script type="text/javascript">
    $(function () {
        $("#btnAddLabelChargeStand").css("line-height","25px");
    });
    function doUseDefaultMinUnchangeMinutesChanged() {
        var useDefaultMinUnchangeMinutes = $("#UseDefaultMinUnchangeMinutes").attr("checked");
        var isUseDefaultMinUnchangeMinutes = useDefaultMinUnchangeMinutes ? true : false;
        if (isUseDefaultMinUnchangeMinutes) $("#divMinAppointmentCancelTime").fadeOut(500);
        else $("#divMinAppointmentCancelTime").fadeIn(500);
    }
</script>
