@model com.Bynonco.LIMS.Model.View.ViewNMP
@using com.Bynonco.JqueryEasyUI.Core;
@Html.Hidden("NMPId", Model == null ? "" : Model.Id.ToString())
@{var nmpPrivilige = Model != null ?
        com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetNMPPrivilige(User.Identity.Name) :
        com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetNMPPrivilige(User.Identity.Name, Model.Id);}
<div>@Html.Partial("UserNMPTimeList")</div>    
<div id="divUserNMPTimeDialog" style="display:none"></div>
<div style="display:none">@Html.Partial("../User/SelectUserNoPagingContainer")</div>
<script type="text/javascript">
    function doEditUserEquipmentTime(){
        var selectedRow = $("#tbUserNMPTimeList").datagrid("getSelected");
        if(!selectedRow){
            $.messager.show({ title: '警告', msg: "请选择要编辑的项", showType: 'show' });
            return false;
        }
        if(selectedRow) doAddOrEditUserNMPTime(selectedRow.Id);
    }
    function doAddOrEditUserNMPTime(id) {
        var nmpId= $("#NMPId").val();
        var url = '@Url.Action("EditUserNMPTime","NMP")' + "?id=" + id + "&date=" + new Date().getMilliseconds() + "&NMPId=" + nmpId;
        $("#divUserNMPTimeDialog").load(url, function (data) {
            doUserNMPTimeDialog();
        });
        return false;
    }
    var userNMPTimeDialog;
    function doUserNMPTimeDialog() {
        if (userNMPTimeDialog) {
            userNMPTimeDialog.dialog("destroy");
        }
        userNMPTimeDialog =  @Html.JDialog("divUserNMPTimeEdit").SetTitle("用户可预约时间段信息").SetIconCls("icon-save").SetAutoDialog(false).SetCancelScript("userNMPTimeDialog.dialog('destroy');return false;").SetModal(true).SetOkScript(nmpPrivilige.IsEnableSaveUserNMPTime ? "doSaveUserNMPTime();return false;" : "alter('无操作权限');").ToMvcString();
    }
    function doSaveUserNMPTime() {
        var nmpId= $("#NMPId").val();
        var workdays = getWorkDays();
        var workTimes = getSelectedWorkTimeIds();
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUserNMPTime","NMP")',
            data: $("#frmUserNMPTimeEdit").serialize() + "&date=" + new Date().getMilliseconds() + "&NMPId=" + nmpId + "&WorkDays=" + workdays + "&WorkTimes=" + workTimes,
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                     $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                userNMPTimeDialog.dialog('destroy');
                doUserNMPTimeSearch();
            }
        });
    }
    function doDeleteUserNMPTime(){
        var selectedRows = $('#tbUserNMPTimeList').datagrid("getSelections");
        var ids = "";
        if(selectedRows && selectedRows.length > 0){
            $.messager.confirm('提示', '确认删除?', function (r) {
                if (!r) return;
                for(var i = 0;i < selectedRows.length;i++){
                    ids += ids == "" ? selectedRows[i].Id : "," + selectedRows[i].Id;
                }
                $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteUserNMPTime","NMP")',
                    data:{"date": new Date().getMilliseconds(),"Ids": ids },
                    success: function (msg) {
                        $.messager.progress('close');
                        if (msg && msg.indexOf("出错") != -1) {
                             $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                            return false;
                        }
                        doUserNMPTimeSearch();
                    }
                });
            });
        }
    }
    function doUserNMPTimeSearch() {
        $("#tbUserNMPTimeList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbUserNMPTimeList").datagrid("reload");
        return false;
    }
</script>