@model com.Bynonco.LIMS.Model.View.ViewEquipmentRepairFundsApply
@using com.Bynonco.JqueryEasyUI.Core; 
@using com.Bynonco.LIMS.BLL;  
<div id="divFundsProvideContainer">
    <form id="frmFundsProvide" action="#">
        <table class="edit-table">
             <tr>
                <th>所需总经费</th>
                <td>@Model.RepairTotalFeeStr 元</td>
             </tr>
             <tr>
                <th>申请资助经费</th>
                <td>@Model.ApplyFeeStr 元</td>
             </tr>
             <tr>
                <th>自筹经费</th>
                <td>@Model.SelfFeeStr 元</td>
             </tr>
             <tr>
                <th>批准得到经费</th>
                <td>@Model.ObtainedFeeStr 元</td>
             </tr>
             <tr>
                <th>设备处管理处批准额度</th>
                <td>@Model.EquipmentDeptAuditPassBalance.Value<span>%</span></td>
             </tr>
             @if (Model.IsBigAmount)
             {
                 <tr>
                    <th>大仪专家委员会批准额度</th>
                    <td>@Model.ShareEAuditPassBalance.Value<span>%</span></td>
                 </tr>
             }
             <tr>
                <th>维修完成时间</th>
                <td>
                   @Model.FinishRepairTimeStr
                </td>
             </tr>
             <tr>
                <th>基金发放时间<span class="required">*</span></th>
                <td>
                    @Html.JDateTimePicker("FundsProvideTime").SetWidth(205).SetValue(DateTime.Now.ToString("yyyy-MM-dd")).ToMvcString()
                </td>
             </tr>
        </table>
    </form>
</div>
