@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model.Enum;
@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../ActivityApply/Search")
    </div>
</div>
<div class="layout-center-full">
    <ul class="tabs" style="border-bottom:0;padding-top:10px;">
        <li class="tabs-selected" id=''><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">全部</span><span class="tabs-icon"></span></a></li>
        <li status='@((int)ActivityApplyStatus.GroupAdminAuditPass)'><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">等待审核</span><span class="tabs-icon"></span></a></li>
        <li status='@((int)ActivityApplyStatus.DirectorAuditPass)'><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">审核通过</span><span class="tabs-icon"></span></a></li>
        <li status='@((int)ActivityApplyStatus.DirectorAuditReject)'><a class="tabs-inner" href="javascript:void(0)"><span class="tabs-title">审核不通过</span><span class="tabs-icon"></span></a></li>
    </ul>
    @Html.Partial("../ActivityApply/List")
</div>
@Html.Partial("../ActivityApply/ScriptContainer")