@model com.Bynonco.LIMS.Model.EquipmentOpenPracticeMaterial
@using com.Bynonco.JqueryEasyUI.Core; 
@if (Model != null)
{
    var infoId = Model.Id;
    <tr>
        <td style='text-align:center;'>@Model.MaterialName</td>
        <td style='text-align:center;'>@Math.Round(Model.ApplyMoney,2).ToString()</td>
        <td>@Html.JValidateBox("UsedUnitPrice_" + infoId).SetValue(!Model.UsedUnitPrice.HasValue ? "" : Math.Round(Model.UsedUnitPrice.Value,2).ToString()).SetOnChange("doChangeMaterialUsedTotalMoney('" + infoId + "');return false;").SetWidth(100).ToMvcString()</td>
        <td>@Html.JValidateBox("UsedCount_" + infoId).SetValue(!Model.UsedCount.HasValue ? "" : Model.UsedCount.Value.ToString()).SetOnChange("doChangeMaterialUsedTotalMoney('" + infoId + "');return false;").SetWidth(100).ToMvcString()</td>
        <td>@Html.JValidateBox("UsedTotalMoney_" + infoId).SetValue(!Model.UsedTotalMoney.HasValue ? "" : Math.Round(Model.UsedTotalMoney.Value,2).ToString()).SetWidth(100).ToMvcString()</td>
    </tr>
}