<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../DepositRecordOpenFund/Search")
    </div>
</div>
<div class="layout-center-full">
    @Html.Partial("../DepositRecordOpenFund/List")
</div>
<div id="divViewMessageDialog"></div>
@Html.Partial("../DepositRecordOpenFund/ScriptContainer")
@Html.Partial("../OpenFundApply/ScriptContainer")
@Html.Partial("../OpenFundApply/DepositScriptContainer")
