@model com.Bynonco.LIMS.Model.DepositRecordOpenFundEquipment
@using com.Bynonco.JqueryEasyUI.Core; 
@if (Model != null)
{
    var infoId = Model.Id;
<tr>
    <td style='text-align:center;' class='item-Id'>
        <input id="Id_@(infoId)" type="hidden" value="@(infoId)" name="Id_@(infoId)"/>
        @(Model.Equipment != null && Model.Equipment.Organization != null ? Model.Equipment.Organization.Name : "")
    </td>
    <td style='text-align:center;'>
        @Html.Hidden("EquipmentId_" + infoId, Model.EquipmentId.ToString())
        @(Model.Equipment != null ? Model.Equipment.Name : "")
    </td>
    <td style='text-align:center;'>
        @Html.Hidden("SampleName_" + infoId, Model.SampleName)
        @(Model.SampleName == null ? "" : Model.SampleName)
    </td>
    <td style='text-align:center;'>
        @Html.Hidden("SampleCount_" + infoId, !Model.SampleCount.HasValue ? "" : Model.SampleCount.Value.ToString())
        @(!Model.SampleCount.HasValue ? "" : Model.SampleCount.Value.ToString())
    </td>
    <td style='text-align:center;'>
        @Html.Hidden("UnitPrice_" + infoId, !Model.UnitPrice.HasValue ? "" : Math.Round(Model.UnitPrice.Value,2).ToString())
        @(!Model.UnitPrice.HasValue ? "" : Math.Round(Model.UnitPrice.Value,2).ToString())
    </td>
    <td style='text-align:center;'>
        @Html.Hidden("DepositSum_" + infoId, Math.Round(Model.DepositSum,2).ToString())
        @(Math.Round(Model.DepositSum, 2).ToString())
    </td>
    <td style='text-align:center;'>@(Math.Round((Model.OpenFundSum - Model.DepositSum),2).ToString())</td>
</tr>
}