@model com.Bynonco.LIMS.Model.CostDeduct
@using com.Bynonco.LIMS.Model.Enum;
@using com.Bynonco.LIMS.Model;
<div id="divAnimaCostDeductDetail" style="overflow:hidden">
    <table class="edit-table" style="width:350px;height:300px;">
        <tr>
            <th>名目</th>
            <td>@Model.AnimalCostDeduct.Name</td>
        </tr>
        <tr>
            <th>实验者</th>
            <td>@ViewData["UserName"]</td>
        </tr>
        <tr>
            <th>动物名称</th>
            <td>@Model.AnimalCostDeduct.Animal.Name</td>
        </tr>
        <tr>
            <th>动物品系</th>
            <td>@Model.AnimalCostDeduct.Animal.AnimalCategory.Name</td>
        </tr>
         <tr>
            <th>扣费时间范围</th>
            <td>@Model.AnimalCostDeduct.BeginDate.ToString("yyyy-MM-dd") ~ @Model.AnimalCostDeduct.EndDate.ToString("yyyy-MM-dd")</td>
        </tr>
         <tr>
            <th>课题组</th>
            <td>@ViewData["SubjectName"]</td>
        </tr>
        <tr>
            <th>付费人</th>
            <td>@ViewData["PayerName"]</td>
        </tr>
        <tr>
            <th>付费方式</th>
            <td>@(((PaymentMethod)Model.AnimalCostDeduct.PaymentMethod).ToCnName())</td>
        </tr>
       
        <tr>
            <th>金额</th>
            <td>@Model.AnimalCostDeduct.Money.ToString("0.00元")</td>
        </tr>
        <tr>
            <th>备注</th>
            <td>@Model.AnimalCostDeduct.Remark</td>
        </tr>
    </table>
</div>