@using com.Bynonco.JqueryEasyUI.Core;
<script type="text/javascript">
    function generateAppointmentPredictDeductQueryExpression() {
        var queryExpression = "";
        var userName = $("#SearchUserName").val().trim();
        if (userName != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "UserName∽\"" + userName + "\"";
        }


        var selectedStudent = $("#cbxQueryStudent").combobox("getValues");
        var selectedStudentIds = selectedStudent.toString().split(",");
        if (selectedStudentIds.length > 1 || (selectedStudentIds[0].trim() != "" && selectedStudentIds[0].trim() != "@(Guid.Empty.ToString())" && selectedStudentIds.length == 1)) {
            var index = 0;
            queryExpression += queryExpression == "" ? "(" : "*(";
            for (var i = 0; i < selectedStudentIds.length; i++) {
                if (selectedStudentIds[i].trim() == "" || selectedStudentIds[i].trim() == "@(Guid.Empty.ToString())") { index++; continue; }
                var queryExpressionTemp = "UserId=\"" + selectedStudentIds[i].trim() + "\"";
                queryExpression += (i == index ? queryExpressionTemp : "+" + queryExpressionTemp);
            }
            queryExpression += ")";
        }

        var equipmentName = $("#SearchEquipmentName").val().trim();
        if (equipmentName != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "EquipmentName∽\"" + equipmentName.trim() + "\"";
        }

        var labRoomXPath = $("#SearchLabRoomXPath").val().trim();
        if (labRoomXPath != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "LabRoomXPath→\"" + labRoomXPath + "\"";
        }

        var payerName = $("#SearchPayerName").val().trim();
        if (payerName != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "PayerName∽\"" + payerName + "\"";
        }
        var hasClossingAccount = $("#HasClossingAccount").combobox("getValue").trim();
        if (hasClossingAccount != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "HasClossingAccount=" + hasClossingAccount;
        }
        var beginAtStart = $("#SearchBeginAtStart").datebox("getValue").trim();
        if (beginAtStart != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "DeductAt>\"" + beginAtStart + " 00:00:00" + "\"";
        }
        var beginAtEnd = $("#SearchBeginAtEnd").datebox("getValue").trim();
        if (beginAtEnd != "") {
            queryExpression += (queryExpression == "" ? "" : "*") + "DeductAt<\"" + beginAtEnd + " 23:59:59" + "\"";
        }
        return queryExpression;
    }

    function doAppointmentPredictDeductReset() {
        $("#SearchEquipmentName").val("");
        $("#SearchUserName").val("");
        $("#SearchPayerName").val("");
        $("#SearchLabRoomXPath").val("");
        $("#HasClossingAccount").combobox("setValue", "");
        $("#cbxQueryStudent").combobox("setValue", "@Guid.Empty.ToString()");
        ("#SearchLabRoomId").val("@Guid.Empty.ToString()");
        $("#SearchBeginAtStart").datebox("setValue", "");
        $("#SearchBeginAtEnd").datebox("setValue", "");
        return false;
    }

    function getAppointmentPredictDeductSearchLabRoomXPath(element) {
        $("#SearchLabRoomXPath").val("");
        var labRoomId = element.value;
        if (labRoomId != "" && !labRoomId.isDefaultGuid()) {
            var urlGetLabOrganizationById = '@Url.Action("GetLabOrganizationById","LabOrganization")';
            $.post(urlGetLabOrganizationById, { id: labRoomId }, function (data) {
                if (data && data != "")
                    $("#SearchLabRoomXPath").val(data.XPath);
            }, 'json');
        }
    }
</script>
<ul class="search">
    <li>
        <label style="width:60px">状态</label>
        @Html.JComboBox("HasClossingAccount").SetData(ViewData["HasClossingAccountJson"]).SetWidth(155).ToMvcString()
    </li>
    <li>
        <label style="width:60px">使用者</label>
        @Html.JValidateBox("SearchUserName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label style="width:60px">课题组成员</label>
        @Html.JComboBox("cbxQueryStudent").SetWidth(155).SetData(ViewData["StudentJson"]).SetMutiSelect(true).ToMvcString()
    </li>
    <li>
        <label style="width:60px">设备名称</label>
        @Html.JValidateBox("SearchEquipmentName").SetWidth(150).ToMvcString()
    </li>
    <li>
        <label style="width:60px">放置地点</label>
        @Html.DropDownList("SearchLabRoomId", (IEnumerable<SelectListItem>)ViewData["SearchLabRoomSelectListItem"], new { style = "width:155px;", onchange = "getAppointmentPredictDeductSearchLabRoomXPath(this);" })
        @Html.Hidden("SearchLabRoomXPath")
    </li>
    <li>
        <label style="width:60px">付费人</label>
        @Html.JValidateBox("SearchPayerName").SetWidth(150).ToMvcString()
    </li>
     <li>
        <label style="width:60px">开始时间</label>
        @Html.JDateTimePicker("SearchBeginAtStart").SetWidth(155).ToMvcString()
    </li>
    <li>
        <label style="width:60px">结束时间</label>
        @Html.JDateTimePicker("SearchBeginAtEnd").SetWidth(155).ToMvcString()
    </li>
    <li class="button" >
        @Html.JLinkButton("btnAppointmentPredictDeductSearch", "查询").SetOnclick("doAppointmentPredictDeductSearch();doCloseSearch();").ToMvcString()
        @Html.JLinkButton("btnAppointmentPredictDeductReset", "清空").SetOnclick("doAppointmentPredictDeductReset();").ToMvcString()
        @Html.JLinkButton("btnAppointmentPredictDeductClose", "关闭").SetOnclick("doCloseSearch();").ToMvcString()
        <div class="clear-both"></div>
    </li>
    <div class="clear-both"></div>
</ul>
<div class="clear-both"></div>