<div class="layout-center-full">
    @Html.Partial("../CostDeduct/MyCostDeductStatisticsList")
</div>

<div style="display:none">@Html.Partial("../UsedConfirm/ScriptContainer")</div>
<div style="display:none">@Html.Partial("../CostDeduct/ManualCostDeductScriptContainer")</div>
<div style="display:none">@Html.Partial("../Statistics/CostDeductStatisticsScriptContainer")</div>
<div style="display:none">@Html.Partial("../Appointment/ViewAppointmentInfoScript")</div>